<!-- <h2 mat-dialog-title style="text-align: center;">Lista Personas</h2> -->
<mat-dialog-content>
    <div class="row">
        <div class="col-12"><h2 style="text-align: center;"> PERSONAS</h2></div> 
    </div>  
    <!-- <div class="card "> -->
        <!-- <div class="card-header" style="text-align: center;">
            Lista Personas
        </div> -->
        <!-- <div class="card-body"> -->
            <div class="form-group input-container">
                <i class="fa fa-search icon"></i>
                <input [(ngModel)]="filterPersona" type="text" class="form-control input-field"
                    placeholder="Ejem. Zambrano Zambrano">
            </div>
            <table class="table table-hover">
                <thead class="card-header">
                    <tr>
                        <th scope="col">Nombres</th>
                        <th scope="col">Apellidos</th>
                        <th scope="col">Documento</th>
                        <th scope="col">No. Documento</th>
                        <th scope="col" colspan="1" style="text-align: center;">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of _listaPersonas | filter: filterPersona : 'SegundoNombre'">
                        <td> {{ item.PrimerNombre }} {{ item.SegundoNombre }} </td>
                        <td> {{ item.PrimerApellido }} {{ item.SegundoApellido }} </td>
                        <td> {{ item.TipoIdentificacion.Descripcion }} </td>
                        <td> {{ item.NumeroIdentificacion }} </td>
                        <td>
                            <button [mat-dialog-close]="_persona" class="btn btn-sm btn-outline-warning separacion-botones"
                                value="{{item.IdPersonaEncriptado}}" (click)="_asignarUsuarioaPersona(item)">
                                <i class="fa fa-user-plus" aria-hidden="true"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        <!-- </div> -->
    <!-- </div> -->
</mat-dialog-content>
<mat-dialog-actions>
    <!-- <button class="mat-raised-button"(click)="close()">Close</button> -->
</mat-dialog-actions>