<!-- <p>modal-cuestionario-generico-version-detalle works!</p> -->
<br>
<div class="container">

    <div style="margin-top: 10px !important;" class="row" *ngFor="let componente of _cargarCuestionarioGenerico.listaComponente ; let i = index">
        <div class="col-lg-12 col-md-12 mr-auto" >
            <mat-accordion  >
    
                <mat-expansion-panel expanded 
                    >
                    <mat-expansion-panel-header > <!--(click)="_consultarSeccionesDeComponentesDeCuestionario(componente.IdComponenteEncriptado)"-->
                        <mat-panel-title>
                            {{componente.Descripcion}}
                        </mat-panel-title>
                        <!-- <mat-panel-description >
                            (COMPONENTE)
                        </mat-panel-description> -->
                    </mat-expansion-panel-header>
                    
                    <mat-accordion *ngFor="let seccion of componente.listaSeccion; let a=index">
    
                        <mat-expansion-panel expanded 
                            >
                            <mat-expansion-panel-header > <!--(click)="_consultarPreguntasSeccionComponenteCuestionarioGenerico(seccion.IdSeccionEncriptado)"-->
                                <mat-panel-title>
                                    {{seccion.Descripcion}}
                                </mat-panel-title>
                                <!-- <mat-panel-description >
                                    (SECCIÓN)
                                </mat-panel-description> -->
                            </mat-expansion-panel-header>
                            
                            <mat-accordion>
    
                                <mat-expansion-panel *ngFor="let pregunta of seccion.listaPregunta; let i=index" > <!--_listaPreguntasSeccionComponenteCuestionarioGenerico-->
            
                                    <mat-expansion-panel-header>
                                        <mat-panel-title >
                                            {{pregunta.Descripcion}} 
                                        </mat-panel-title>
                                        <!-- <mat-panel-description >
                                            (PREGUNTA)
                                        </mat-panel-description> -->
                                       
                                    </mat-expansion-panel-header>
            
                                   
                                </mat-expansion-panel>
                            </mat-accordion>
        
                        </mat-expansion-panel>
                    </mat-accordion>

                </mat-expansion-panel>
            </mat-accordion>
            
        </div>
    </div>
</div>