<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
<br>
<mat-card class="container col-lg-12 col-md-12 mr-auto">
  <div class="row">
    <div style="text-align: -webkit-center;padding-top: 10px;" class="col-md-3">
      <a routerLink="/inicio/cuestionario-caracterizacion" class="card education">
        <div class="overlay"></div>
        <div class="circle">
          <img width="131px" height="131px" src="../../../assets/img/panel/crear.png" alt="" />
        </div>
        <p>Crear Caracterización</p>
      </a>
    </div>
    <div style="text-align: -webkit-center;padding-top: 10px;" class="col-md-3">
      <a routerLink="/inicio/cuestionario-version-caracterizacion" class="card credentialing">
        <div class="overlay"></div>
        <div class="circle">
          <img width="auto" height="131px" src="../../../assets/img/panel/version.png" alt="" />
        </div>
        <p>Versionar Caracterización</p>
      </a>
    </div>
    <div style="text-align: -webkit-center;padding-top: 10px;" class="col-md-3">
      <a routerLink="/inicio/cuestionario-publicar-caracterizacion" class="card wallet">
        <div class="overlay"></div>
        <div class="circle">
          <img width="auto" height="131px" src="../../../assets/img/panel/publicar.png" alt="" />
        </div>
        <p>Publicar Cuestionario</p>
      </a>
    </div>
    <div style="text-align: -webkit-center;padding-top: 10px;" class="col-md-3">
      <a routerLink="/inicio/caracterizacion-llenar" class="card human-resources">
        <div class="overlay"></div>
        <div class="circle">
          <img width="auto" height="131px" src="../../../assets/img/panel/llenar.png" alt="" />
        </div>
        <p>Caracterizaciones</p>
      </a>
    </div>
  </div>
</mat-card>
<!-- <div class="container center">
  <div class="col-lg-12 col-md-12 mr-auto">
    <div class="row">
      <div class="col-md-3">
        <a routerLink="/inicio/cuestionario-caracterizacion" class="card education">
          <div class="overlay"></div>
          <div class="circle">
            <img width="131px" height="131px" src="../../../assets/img/panel/crear.png" alt="" />
          </div>
          <p>Crear Caracterización</p>
        </a>
      </div>
      <div class="col-md-3">
        <a routerLink="/inicio/cuestionario-version-caracterizacion" class="card credentialing">
          <div class="overlay"></div>
          <div class="circle">
            <img width="auto" height="131px" src="../../../assets/img/panel/version.png" alt="" />
          </div>
          <p>Versionar Caracterización</p>
        </a>
      </div>
      <div class="col-md-3">
        <a routerLink="/inicio/cuestionario-publicar-caracterizacion" class="card wallet">
          <div class="overlay"></div>
          <div class="circle">
            <img width="auto" height="131px" src="../../../assets/img/panel/publicar.png" alt="" />
          </div>
          <p>Publicar Cuestionario</p>
        </a>
      </div>
      <div class="col-md-3">
        <a routerLink="/inicio/caracterizacion-llenar" class="card human-resources">
          <div class="overlay"></div>
          <div class="circle">
            <img width="auto" height="131px" src="../../../assets/img/panel/llenar.png" alt="" />
          </div>
          <p>Caracterizaciones</p>
        </a>
      </div>
    </div>
  </div>
</div> -->
