<mat-dialog-content>
  <div class="row">
    <div style="background-color:#e2e2e2;border-bottom-width: 0px;padding-bottom: 0px;padding-right: 0px;padding-left: 0px;" class="col-12 card-header">
      <h1 style="text-align: center;font-family:helvética;">{{tituloEncabezado}}
        <br>
        <h5 style="text-align: center;">{{version}}</h5>
      </h1>
    </div>
  </div>
  <br>
  <div class="row">
    <div *ngFor="let item of contenidoVersion" style="border-bottom-width: 0px;padding-bottom: 0px;padding-right: 0px;padding-left: 0px;" class="col-12">
      <fieldset class="border p-2">
        <legend style="font-size: 100%;font-weight:bold" class="w-auto">{{item.CuestionarioPublicado.CuestionarioGenerico.Nombre}}</legend>
        <mat-accordion *ngFor="let item1 of item.AsignarComponenteGenerico"  class="example-headers-align" multi>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                {{item1.Componente.Descripcion}}
              </mat-panel-title>
              <mat-panel-description *ngIf="item1.VersionamientoModelo.Imagen == 1" >
                Contiene mapa
                <mat-icon> map</mat-icon>
              </mat-panel-description>
            </mat-expansion-panel-header>
            <ckeditor
              readOnly
              [(ngModel)]="item1.VersionamientoModelo.Contenido"
              #myckeditor="ngModel"
              name="myckeditor"
              [config]="ckeConfig"
              debounce="500"
              (paste)="onPaste($event)"
              (change)="onChange($event)">
            </ckeditor>
          </mat-expansion-panel>
        </mat-accordion>
      </fieldset>
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button class="mat-raised-button mat-warn" (click)="close()">Cerrar</button>
</mat-dialog-actions>
