<br>
<div class="container">
    <mat-card style="margin-bottom: 10px;">
    <div class="row">
        <div class="col-12" style="margin-bottom: 30px;">
            <div class="row">
                <div class="col-12">
                    <h2 style="text-align: center;">Buscar Parroquia</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <input type="text" [(ngModel)]="filterParroquia" placeholder="Buscar parroquia..."
                        [formControl]="control" [matAutocomplete]="auto" style="width: 100%" autofocus="false"
                        class="form-control input-field">
                </div>
                <mat-autocomplete #auto="matAutocomplete">
                    <mat-option *ngFor="let parroquia of filteredParroquia | async" [value]="parroquia"
                        (onSelectionChange)="onSelectionChanged($event,parroquia) ">
                        {{parroquia}}
                    </mat-option>
                </mat-autocomplete>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4 col-md-5 mr-auto">
            <mat-card>
                <div class="row">
                    <div class="col-12"> <h2 style="text-align: center;">Comunidad</h2>  </div>
                </div>
                <form #frmComunidad="ngForm" (ngSubmit)="_validarFormulario()" method="POST" enctype="multipart/form-data">
                    <mat-form-field class="gpm-form-field">
                        <input matInput disabled required [(ngModel)]="_nombreProvincia" [ngModelOptions]="{standalone: true}" name="_nombreProvincia" type="text" (keyup)="_validarCompletos($event)"  aria-describedby="emailHelp" placeholder="Provincia" autocomplete="off">
                        <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
                    </mat-form-field>
                    <mat-form-field class="gpm-form-field">
                        <input matInput disabled required [(ngModel)]="_nombreCanton" [ngModelOptions]="{standalone: true}" name="_nombreCanton" type="text" (keyup)="_validarCompletos($event)"  aria-describedby="emailHelp" placeholder="Canton" autocomplete="off">
                        <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
                    </mat-form-field>
                    <mat-form-field class="gpm-form-field"> 
                        <input matInput disabled required [(ngModel)]="_nombreParroquia" [ngModelOptions]="{standalone: true}" name="_nombreParroquia" type="text" (keyup)="_validarCompletos($event)" aria-describedby="emailHelp" placeholder="Parroquia" autocomplete="off">
                        <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
                    </mat-form-field>
                    <mat-form-field class="gpm-form-field">
                        <input matInput required [(ngModel)]="_codigoComunidad" [ngModelOptions]="{standalone: true}" name="_codigoComunidad" type="text" (keyup)="_validarCompletos($event)" aria-describedby="emailHelp" placeholder="Código de la Comunidad" autocomplete="off">
                        <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
                    </mat-form-field>
                    <mat-form-field class="gpm-form-field">
                        <input matInput required [(ngModel)]="_nombreComunidad" [ngModelOptions]="{standalone: true}" name="_nombreComunidad" type="text" (keyup)="_validarCompletos($event)"  aria-describedby="emailHelp" placeholder="Nombre" autocomplete="off">
                        <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
                    </mat-form-field>
                    <mat-form-field class="gpm-form-field">
                        <input matInput [(ngModel)]="_descripcionComunidad" [ngModelOptions]="{standalone: true}" name="_descripcionComunidad" type="text"  aria-describedby="emailHelp" placeholder="Descripción" autocomplete="off"> <!-- (keyup)="_validarCompletos($event)"-->
                        <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
                    </mat-form-field>
                    <div class="form-group">
                        Seleccione una imagen
                        <input type="file" (change)="onSelectFile($event)" [(ngModel)]="_rutaLogoComunidad" name="_rutaLogoComunidad" placeholder="Seleccione la imagen"  accept="image/*" required>
                    </div>
                    <!-- <div class="form-group"> 
                        <input #rutaLogoComunidad [(ngModel)]="_rutaLogoComunidad" [ngModelOptions]="{standalone: true}" name="_rutaLogoComunidad" type="file" (keyup)="_validarCompletos($event)" class="form-control"  aria-describedby="emailHelp" placeholder="Telefono"> -->
                        <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
                    <!-- </div>  -->   
                    <div class="form-group">
                        <button type="submit" [disabled]="_validar" *ngIf="_btnAccion==='Guardar'" mat-button class="btn btn-primary btn-block">
                            <i class="fa fa-plus"></i>
                        </button>
                    </div>
                    <div class="form-group" *ngIf="_btnAccion==='Modificar'">
                        <div class="row">
                            <div class="col-6">
                                <button mat-button type="submit" [disabled]="_validar" 
                                    class="form-control btn-success" >{{_btnAccion}}
                                    <i class="fa fa-edit"></i>
                                </button>
                            </div>
                            <div class="col-6">
                                <button mat-button type="button" 
                                    class="form-control btn-secondary" (click)="_limpiarForm()">Refrescar <i class="fa fa-refresh" aria-hidden="true"></i>
                                </button>
                            </div>    
                            
                        </div>
                    </div>
                </form>
            </mat-card>
           
            <br>
            <!-- <mat-card>
                <div class="row">
                    <div class="col-12"> <h2 style="text-align: center;">Parroquias</h2>  </div>
                </div>
                <div class="form-group input-container">
                    <i class="fa fa-search icon"></i>
                    <input [(ngModel)]="filterParroquia" type="text" class="form-control input-field"
                        placeholder="Ejem. Tosagua">
                    <i class="fa fa-refresh icon" (click)="_consultarParroquias()" aria-hidden="true"></i>
                </div>

                <div class="tablaParroquias mat-elevation-z5">
                    <table #MatTableParroquias mat-table [dataSource]="_listaParroquias">
                        <ng-container matColumnDef="parroquia">
                            <th mat-header-cell *matHeaderCellDef> Cantón </th>
                            <td mat-cell *matCellDef="let element"> {{element.NombreParroquia}} </td>
                        </ng-container>
                        <ng-container matColumnDef="acciones">
                            <th mat-header-cell *matHeaderCellDef> Acciones </th>
                            <td mat-cell *matCellDef="let element">
                                <button tooltip="Seleccionar" placement="top"
                                    class="btn btn-sm btn-block btn-outline-warning" (click)="_prepararParroquia(element)">
                                    <i class="fa fa-plus" aria-hidden="true"></i>
                                </button>
                            </td>
                        </ng-container>
                        <tr mat-header-row *matHeaderRowDef="tablaParroquias; sticky: true"></tr>
                        <tr mat-row *matRowDef="let row; columns: tablaParroquias;"></tr>
                    </table>
                </div>
            </mat-card> -->
           
        </div>

        <div class="col-lg-8 col-md-7">
            <div class="tablaComunidades mat-elevation-z5">
                <br>
                <div class="col-12">
                    <mat-form-field class="gpm-input">
                    <input matInput (keyup)="applyFilter($event)" placeholder="Buscar comunidad..."
                                    autocomplete="off">
                    </mat-form-field>
                </div>
                <table mat-table [dataSource]="dataSource" matSort>
                    <ng-container matColumnDef="codigo">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Código </th>
                        <td mat-cell *matCellDef="let element"> {{element.CodigoComunidad}} </td>
                    </ng-container>
                    <ng-container matColumnDef="comunidad">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Comunidad </th>
                        <td mat-cell *matCellDef="let element"> {{element.NombreComunidad}} </td>
                    </ng-container>
                    <ng-container matColumnDef="parroquia">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Parroquia </th>
                        <td mat-cell *matCellDef="let element"> {{element.Parroquia.NombreParroquia}} </td>
                    </ng-container>
                    <ng-container matColumnDef="canton">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Cantón </th>
                        <td mat-cell *matCellDef="let element"> {{element.Parroquia.Canton.NombreCanton}} </td>
                    </ng-container>
                    <ng-container matColumnDef="acciones">
                        <th colspan="4" mat-header-cell *matHeaderCellDef> Acciones </th>
                        <ng-container *matCellDef="let element">
                            <ng-container >
                                <td mat-cell>
                                    <button tooltip="Ver Imagen" placement="top"
                                        *ngIf="element.RutaLogoComunidad != ''" class="btn btn-sm btn-outline-primary separacion-botones"
                                        value="{{element.IdComunidadEncriptado}}" (click)="_verImagen(element)">
                                        <i class="fa fa-eye" aria-hidden="true"></i>
                                    </button>
                                </td>
                                <td mat-cell>
                                    <button tooltip="Asignar Representante" placement="top"
                                        class="btn btn-sm btn-outline-warning" value="{{element.IdComunidadEncriptado}}"
                                        (click)=_verRepresentante(element)>
                                        <i class="fa fa-user-o" aria-hidden="true"></i>
                                    </button>
                                </td>
                                <td mat-cell>
                                    <button tooltip="Modificar" placement="top"
                                        class="btn btn-sm btn-outline-info" value="{{element.IdComunidadEncriptado}}"
                                        (click)=_prepararComunidad(element)>
                                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                    </button>
                                </td>
                                <td mat-cell>
                                    <button *ngIf="element.Utilizado == 0" class="btn btn-sm btn-outline-danger" value="{{element.IdComunidadEncriptado}}"
                                        (click)=_eliminarComunidad(element)>
                                        <i class="fa fa-remove" aria-hidden="true"></i>
                                    </button>
                                </td>
                            </ng-container>
                        </ng-container>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="tablaComunidades; sticky: true"></tr>
                    <tr mat-row *matRowDef="let row; columns: tablaComunidades;"></tr>
                </table>
                <mat-paginator [pageSizeOptions]="[10]" showFirstLastButtons></mat-paginator>
            </div>

        </div>
    </div>
  </mat-card>
</div>