<br>
<div class="container">
    <div class="row">
        <div class="col-lg-4 col-md-5 mr-auto">
            <div class="card">
                <div class="card-header" style="text-align: center;">
                    Nueva Comunidad
                </div>
                <div class="card-body">
            

                    <form #frmComunidad="ngForm" (ngSubmit)="_validarFormulario()" >
                        <div class="form-group"> 
                            <input disabled required [(ngModel)]="_nombreProvincia" [ngModelOptions]="{standalone: true}" name="_nombreProvincia" type="text" (keyup)="_validarCompletos($event)" class="form-control"  aria-describedby="emailHelp" placeholder="Provincia">
                            <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
                        </div>
                        <div class="form-group"> 
                            <input disabled required [(ngModel)]="_nombreCanton" [ngModelOptions]="{standalone: true}" name="_nombreCanton" type="text" (keyup)="_validarCompletos($event)" class="form-control"  aria-describedby="emailHelp" placeholder="Canton">
                            <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
                        </div>
                         <div class="form-group"> 
                            <input disabled required [(ngModel)]="_nombreParroquia" [ngModelOptions]="{standalone: true}" name="_nombreParroquia" type="text" (keyup)="_validarCompletos($event)" class="form-control"  aria-describedby="emailHelp" placeholder="Parroquia">
                            <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
                        </div>
                        <div class="form-group"> 
                            <input  required [(ngModel)]="_codigoComunidad" [ngModelOptions]="{standalone: true}" name="_codigoComunidad" type="text" (keyup)="_validarCompletos($event)" class="form-control"  aria-describedby="emailHelp" placeholder="Código de la Comunidad">
                            <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
                        </div> 
                        <div class="form-group"> 
                            <input required [(ngModel)]="_nombreComunidad" [ngModelOptions]="{standalone: true}" name="_nombreComunidad" type="text" (keyup)="_validarCompletos($event)" class="form-control"  aria-describedby="emailHelp" placeholder="Nombre">
                            <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
                        </div> 
                        <div class="form-group"> 
                            <input [(ngModel)]="_descripcionComunidad" [ngModelOptions]="{standalone: true}" name="_descripcionComunidad" type="text"  class="form-control"  aria-describedby="emailHelp" placeholder="Descripción"> <!-- (keyup)="_validarCompletos($event)"-->
                            <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
                        </div> 
                        <!-- <div class="form-group"> 
                            <input #rutaLogoComunidad [(ngModel)]="_rutaLogoComunidad" [ngModelOptions]="{standalone: true}" name="_rutaLogoComunidad" type="file" (keyup)="_validarCompletos($event)" class="form-control"  aria-describedby="emailHelp" placeholder="Telefono"> -->
                            <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
                        <!-- </div>  -->
                           
                        <div class="form-group">
                            <button type="submit" [disabled]="_validar" *ngIf="_btnAccion==='Guardar'"
                                class="form-control btn-success" >{{_btnAccion}}
                            </button>
                        </div>
                        <div class="form-group" *ngIf="_btnAccion==='Modificar'">
                            <div class="row">
                                <div class="col-6">
                                    <button  type="submit" [disabled]="_validar" 
                                        class="form-control btn-success" >{{_btnAccion}}
                                    </button>
                                </div>
                                <div class="col-6">
                                    <button  type="button" 
                                        class="form-control btn-secondary" (click)="_limpiarForm()">Refrescar <i class="fa fa-refresh" aria-hidden="true"></i>
                                    </button>
                                </div>    
                                
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <br>
            <div class="card">
                <div class="card-header" style="text-align: center;">
                    Lista Parroquias
                </div>
                <div class="card-body">
                    <div class="form-group input-container">
                        <i class="fa fa-search icon"></i>
                        <input [(ngModel)]="filterParroquia" type="text" class="form-control input-field"
                            placeholder="Ejem. Tosagua">
                        <i class="fa fa-refresh icon" (click)="_consultarParroquias()" aria-hidden="true"></i>
                    </div>

                    <div class="tablaParroquias mat-elevation-z5">
                        <table #MatTableParroquias mat-table [dataSource]="_listaParroquias">
                            <ng-container matColumnDef="parroquia">
                                <th mat-header-cell *matHeaderCellDef> Cantón </th>
                                <td mat-cell *matCellDef="let element"> {{element.NombreParroquia}} </td>
                            </ng-container>
                            <ng-container matColumnDef="acciones">
                                <th mat-header-cell *matHeaderCellDef> Acciones </th>
                                <td mat-cell *matCellDef="let element">
                                    <button tooltip="Seleccionar" placement="top"
                                        class="btn btn-sm btn-block btn-outline-warning" (click)="_prepararParroquia(element)">
                                        <i class="fa fa-plus" aria-hidden="true"></i>
                                    </button>
                                </td>
                            </ng-container>
                            <tr mat-header-row *matHeaderRowDef="tablaParroquias; sticky: true"></tr>
                            <tr mat-row *matRowDef="let row; columns: tablaParroquias;"></tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-8 col-md-7">
            <div class="card">
                <div class="card-header" style="text-align: center;">
                    Lista Comunidades
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group input-container">
                                <i class="fa fa-search icon"></i>
                                <input [(ngModel)]="filterComunidad" type="text" class="form-control input-field"
                                    placeholder="Ejem. Bachillero">
                                <i class="fa fa-refresh icon" (click)="_consultarComunidades()" aria-hidden="true"></i>
                            </div>

                            <div class="tablaComunidades mat-elevation-z5">
                                <table mat-table [dataSource]="_listaComunidades">
                                    <ng-container matColumnDef="codigo">
                                        <th mat-header-cell *matHeaderCellDef> Código </th>
                                        <td mat-cell *matCellDef="let element"> {{element.CodigoComunidad}} </td>
                                    </ng-container>
                                    <ng-container matColumnDef="comunidad">
                                        <th mat-header-cell *matHeaderCellDef> Comunidad </th>
                                        <td mat-cell *matCellDef="let element"> {{element.NombreComunidad}} </td>
                                    </ng-container>
                                    <ng-container matColumnDef="parroquia">
                                        <th mat-header-cell *matHeaderCellDef> Parroquia </th>
                                        <td mat-cell *matCellDef="let element"> {{element.Parroquia.NombreParroquia}} </td>
                                    </ng-container>
                                    <ng-container matColumnDef="canton">
                                        <th mat-header-cell *matHeaderCellDef> Cantón </th>
                                        <td mat-cell *matCellDef="let element"> {{element.Parroquia.Canton.NombreCanton}} </td>
                                    </ng-container>
                                    <ng-container matColumnDef="acciones">
                                        <th colspan="2" mat-header-cell *matHeaderCellDef> Acciones </th>
                                        <ng-container *matCellDef="let element">
                                            <ng-container >
                                                <td mat-cell>
                                                    <button tooltip="Asignar Representante" placement="top"
                                                        class="btn btn-sm btn-outline-warning" value="{{element.IdComunidadEncriptado}}"
                                                        (click)=_verRepresentante(element)>
                                                        <i class="fa fa-user-o" aria-hidden="true"></i>
                                                    </button>
                                                </td>
                                                <td mat-cell>
                                                    <button tooltip="Modificar" placement="top"
                                                        class="btn btn-sm btn-outline-info" value="{{element.IdComunidadEncriptado}}"
                                                        (click)=_prepararComunidad(element)>
                                                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                                    </button>
                                                </td>
                                                <td mat-cell>
                                                    <button *ngIf="element.Utilizado == 0" class="btn btn-sm btn-outline-danger" value="{{element.IdComunidadEncriptado}}"
                                                        (click)=_eliminarComunidad(element)>
                                                        <i class="fa fa-trash" aria-hidden="true"></i>
                                                    </button>
                                                </td>
                                            </ng-container>
                                            
                                        </ng-container>
                                    </ng-container>
                                    <tr mat-header-row *matHeaderRowDef="tablaComunidades
                                    ; sticky: true"></tr>
                                    <tr mat-row *matRowDef="let row; columns: tablaComunidades;"></tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>