<br>
<div class="container">
    <div class="row">
        <div class="col-lg-5 col-md-5 mr-auto">
            <form [formGroup]="formProvincia" (ngSubmit)="_validarFormProvincia()">
                <mat-card class="mat-elevation-z7">
                    <div class="row">
                        <div class="col-12">
                            <h2 style="text-align: center;">Provincia</h2>
                        </div>
                    </div>
                    <mat-form-field class="gpm-universal-width ">
                        <input matInput type="text" placeholder="Código de la Provincia"
                            [formControl]="formProvincia_codigo" required autocomplete="off">
                        <mat-error
                            *ngIf="formProvincia_codigo.hasError('required') || formProvincia_codigo.invalid || (formProvincia_codigo.dirty || formProvincia_codigo.touched ) ">
                            Este dato es <strong>obligatorio</strong>
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field class="gpm-universal-width ">
                        <input matInput type="text" placeholder="Nombre" [formControl]="formProvincia_nombre" required
                            autocomplete="off">
                        <mat-error
                            *ngIf="formProvincia_nombre.hasError('required') || formProvincia_nombre.invalid || (formProvincia_nombre.dirty || formProvincia_nombre.touched ) ">
                            Este dato es <strong>obligatorio</strong>
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field class="gpm-universal-width ">
                        <input matInput type="text" placeholder="Descripción" [formControl]="formProvincia_descripcion"
                            autocomplete="off">
                    </mat-form-field>
                    <button *ngIf="_btnAccion==='Guardar'" [disabled]="formProvincia.invalid" mat-button
                        class="btn btn-primary btn-block">
                        <i class="fa fa-plus"></i>
                    </button>
                    <div class="row" *ngIf="_btnAccion==='Modificar'">
                        <div class="col-6">
                            <button [disabled]="formProvincia.invalid" mat-button class="btn btn-primary btn-block">
                                <i class="fa fa-edit"></i>
                            </button>
                        </div>
                        <div class="col-6">
                            <button mat-button class="btn btn-block btn-light " (click)="_refreshForm();">
                                <i class="fa fa-refresh"></i>
                            </button>
                        </div>
                    </div>
                </mat-card>
            </form>
        </div>
        <div class="col-lg-7 col-md-7 mr-auto">
                <div style="height: 100% !important;" class="tablaPersonas mat-elevation-z5">
                <br>
                <div class="col-12">
                    <mat-form-field class="gpm-input">
                        <input matInput (keyup)="applyFilter($event)" placeholder="Buscar provincia..."
                            autocomplete="off">
                    </mat-form-field>
                </div>
                <table mat-table [dataSource]="dataSource" matSort>
                    <ng-container matColumnDef="codigo">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> CÓDIGO </th>
                        <td mat-cell *matCellDef="let element"> {{element.CodigoProvincia}} </td>
                    </ng-container>
                    <ng-container matColumnDef="provincia">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> PROVINCIA </th>
                        <td mat-cell *matCellDef="let element"> {{element.NombreProvincia}} </td>
                    </ng-container>
                    <ng-container matColumnDef="acciones">
                        <th colspan="3" mat-header-cell *matHeaderCellDef> ACCIONES </th>
                        <ng-container *matCellDef="let element">
                            <ng-container>
                                <td mat-cell>
                                    <button tooltip="Asignar Representante" placement="top"
                                        class="btn btn-sm btn-outline-warning" value="{{element.IdProvinciaEncriptado}}"
                                        (click)=_verRepresentante(element)>
                                        <i class="fa fa-user-o" aria-hidden="true"></i>
                                    </button>
                                </td>
                                <td mat-cell>
                                    <button tooltip="Modificar" placement="top" class="btn btn-sm btn-outline-info"
                                        value="{{element.IdProvinciaEncriptado}}" (click)=_prepararProvincia(element)>
                                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                    </button>
                                </td>
                                <td mat-cell>
                                    <button class="btn btn-sm btn-outline-danger" *ngIf="element.Utilizado==0"
                                        value="{{element.IdProvinciaEncriptado}}" (click)=_eliminarProvincia(element)>
                                        <i class="fa fa-remove" aria-hidden="true"></i>
                                    </button>
                                </td>
                            </ng-container>
                        </ng-container>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="tablaProvincias; sticky: true"></tr>
                    <tr mat-row *matRowDef="let row; columns: tablaProvincias;"></tr>
                </table>
                <mat-paginator [pageSizeOptions]="[3]" showFirstLastButtons></mat-paginator>
            </div>
        </div>
    </div>
</div>
<br>