<br>
<div class="container">
    <div class="row">
        <div class="col-lg-5 col-md-5 mr-auto ">
            <form [formGroup]="formUsuario" (ngSubmit)="validarForm()"> 
                <mat-card class="mat-elevation-z7">
                    <div class="row">
                        <div class="col-12">
                            <h2 style="text-align: center;">Usuario</h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-10">
                            <mat-form-field class="gpm-universal-width">
                                <input matInput placeholder="Numero de Identificacion"
                                    [formControl]="formUsuario_numeroIdentificacion" required >
                            </mat-form-field>
                        </div>
                        <div class="col-2">
                            <button [disabled]="_refrescar===true" class=" btn btn-warning btn-block" type="button"
                                (click)="_abrirModalAsignacionUsuarioPersona()">
                                <i class="fa fa-user-plus"></i>
                            </button>
                        </div>
                    </div>
                    <mat-form-field class="gpm-universal-width">
                        <input matInput placeholder="Nombres" [formControl]="formUsuario_nombres"
                            required>
                    </mat-form-field>

                    <mat-form-field class="gpm-universal-width">
                        <input matInput placeholder="Apellidos" [formControl]="formUsuario_apellidos" required>
                    </mat-form-field>

                    <mat-form-field class="gpm-universal-width" >
                        <input matInput placeholder="Nombre de Usuario" [formControl]="formUsuario_usuario" required>
                        <mat-error *ngIf="  formUsuario_usuario.hasError('required') || 
                                            formUsuario_usuario.invalid || 
                                            (formUsuario_usuario.dirty ) ">
                            Este dato es <strong>obligatorio</strong>
                        </mat-error>
                    </mat-form-field>
                   
                    <mat-form-field class="gpm-universal-width" >
                        <input matInput placeholder="Contraseña" [formControl]="formUsuario_clave" required>
                        <mat-error *ngIf="  formUsuario_clave.hasError('required') || 
                                            formUsuario_clave.invalid || 
                                            (formUsuario_clave.dirty) ">
                            Este dato es <strong>obligatorio</strong>
                        </mat-error>
                    </mat-form-field>
                    
                    <button *ngIf="_refrescar==false" type="submit" [disabled]="formUsuario.invalid" mat-button class="btn btn-primary btn-block"> <i
                            class="fa fa-plus"></i> </button>
                   
                    <div *ngIf="_refrescar==true" class="row">
                        <div class="col-6">
                            <button mat-button class="btn btn-primary btn-block"> <i class="fa fa-edit"></i> </button>
                        </div>
                        <div class="col-6">
                            <button type="button" (click)="_refrescarForm2()" mat-button class="btn btn-block"> <i
                                    class="fa fa-refresh"></i> </button>
                        </div>
                    </div>
                </mat-card>
            </form>
        </div>
        <div class="col-lg-7 col-md-7 mr-auto ">
            <div class="tablaUsuarios mat-elevation-z5 gpm-universal-heigth">
                <table mat-table [dataSource]="_listaUsuarios">
                    <ng-container matColumnDef="usuario">
                        <th mat-header-cell *matHeaderCellDef> USUARIO </th>
                        <td mat-cell *matCellDef="let element"> {{element.Correo}} </td>
                    </ng-container>
                    <ng-container matColumnDef="nombres">
                        <th mat-header-cell *matHeaderCellDef> NOMBRES </th>
                        <td mat-cell *matCellDef="let element"> {{ element.Persona.PrimerNombre }}
                            {{ element.Persona.SegundoNombre }} {{ element.Persona.PrimerApellido }}
                            {{ element.Persona.SegundoApellido }} </td>
                    </ng-container>
                    <ng-container matColumnDef="acciones">
                        <th colspan="3" mat-header-cell *matHeaderCellDef> ACCIONES </th>
                        <ng-container *matCellDef="let element">
                            <ng-container *ngIf="element.Estado">
                                <td mat-cell>
                                    <button tooltip="Asignar Roles" placement="top"
                                        (click)="_abrirModalAsignacionUsuarioTiposUsuario(element)"
                                        class="btn btn-sm btn-outline-warning separacion-botones">
                                        <i class="fa fa-address-book" aria-hidden="true"></i>
                                    </button>
                                </td>
                                <td mat-cell>
                                    <button tooltip="Modificar" placement="top" (click)="_prepararUsuario(element)"
                                        class="btn btn-sm btn-outline-info separacion-botones">
                                        <i class="fa fa-pencil-square-o" aria-hidden="true">
                                        </i>
                                    </button>
                                </td>
                                <td mat-cell>
                                    <button *ngIf="element.Utilizado==0" tooltip="Deshabilitar" placement="top"
                                        (click)="_eliminarUsuario(element)"
                                        class="btn btn-sm btn-outline-danger separacion-botones">
                                        <i class="fa fa-user-times" aria-hidden="true"></i>
                                    </button>
                                </td>
                            </ng-container>
                        </ng-container>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="tablaUsuarios; "></tr>
                    <!--sticky: true-->
                    <tr mat-row *matRowDef="let row; columns: tablaUsuarios;"></tr>
                </table>
            </div>
        </div>

    </div>

</div>