<div id="modal_cargando" class="page div_cargar">
    <div class="container-1">
        <div class="container-2">
            <div class="error-template">
                <h1 class="text-white">
                    Oops!</h1>
                <h2 class="text-white">
                    404 Not Found</h2>
                <div class="error-details text-white">
                    Sorry, an error has occured, Requested page not found!
                </div>
                <div class="error-actions">
                    <a routerLink="/inicio" class="btn btn-primary btn-lg"><span
                            class="glyphicon glyphicon-home"></span> Take Me Home </a>
                </div>
            </div>
        </div>
    </div>
</div>