<div id="modal_cargando" class="page div_cargar">
    <div class="container-1">
        <div class="container-2">
            <div class="error-template">
                <h1 class="text-white">
                    Oops!</h1>
                <h2 class="text-white">
                    404 Página no encontrada</h2>
                <div class="error-details text-white"> 
                    Lo sentimos, se ha producido un error. ¡No se encontró la página solicitada!
                </div>
                <div class="error-actions">
                    <a routerLink="/inicio/inicio" class="btn btn-primary btn-lg"><span
                            class="glyphicon glyphicon-home"></span> Inicio </a>
                </div>
            </div>
        </div>
    </div>
</div>