<!-- <p>encajonar-pregunta works!</p> -->
<br>
<div class="container">
    <div class="row">
        <div class="col-lg-5 col-md-5 mr-auto ">
            <form [formGroup]="formEncajonarPregunta" (ngSubmit)="_validarForm()">
                
                <mat-card>
                    <div class="row">
                        <div class="col-12"> <h2 style="text-align: center;">Encajonar Pregunta</h2>  </div>
                    </div>
                    <mat-form-field class="gpm-form-field col-lg-12">
                        <mat-label>Seleccione un Cuestionario</mat-label>
                        <mat-select [formControl]="formEncajonarPregunta_cmbCuestionario"
                            (selectionChange)="_onChangeCmbCuestionariosGenericos($event)">
                            <mat-option *ngFor="let item of _listaCuestionariosGenericos"
                                [value]="item.CuestionarioGenerico.IdCuestionarioGenericoEncriptado">
                                {{item.CuestionarioGenerico.Nombre}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field *ngIf="formEncajonarPregunta_cmbCuestionario.valid" class="gpm-form-field col-lg-12">
                        <mat-label>Seleccione un Componente</mat-label>
                        <mat-select [formControl]="formEncajonarPregunta_cmbComponente"
                            (selectionChange)="_onChangeCmbComponentesCuestionarioGenerico($event)">
                            <mat-option *ngFor="let item of _listaComponentesCuestionarioGenerico"
                                [value]="item.IdComponenteEncriptado">
                                {{item.Descripcion}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field *ngIf="formEncajonarPregunta_cmbComponente.valid" class="gpm-form-field col-lg-12">
                        <mat-label>Seleccione una Sección</mat-label>
                        <mat-select [formControl]="formEncajonarPregunta_cmbSeccion"
                            (selectionChange)="_onChangeCmbSeccionComponentesCuestionarioGenerico($event)">
                            <mat-option *ngFor="let item of _listaSeccionesComponenteCuestionarioGenerico"
                                [value]="item.IdSeccionEncriptado">
                                {{item.Descripcion}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </mat-card>
            </form>
        </div>
    </div>
</div>