<br>
<div class="container">
    <mat-card style="margin-bottom: 10px;">
        <div class="row">
            <div class="col-12" style="margin-bottom: 30px;">
                <div class="row">
                    <div class="col-12">
                        <h2 style="text-align: center;">Buscar Provincia</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <input type="text" [(ngModel)]="filterProvincia" placeholder="Buscar provincia..."
                            [formControl]="control" [matAutocomplete]="auto" style="width: 100%" autofocus="false"
                            class="form-control input-field">
                    </div>
                    <mat-autocomplete #auto="matAutocomplete">
                        <mat-option *ngFor="let street of filteredStreets | async" [value]="street"
                            (onSelectionChange)="onSelectionChanged($event,street) ">
                            {{street}}
                        </mat-option>
                    </mat-autocomplete>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-5 mr-auto">
                <mat-card>
                    <div class="row">
                        <div class="col-12">
                            <h2 style="text-align: center;">Cantón</h2>
                        </div>
                    </div>
                    <mat-form-field class="gpm-form-field">
                        <input [(ngModel)]="_nombreProvincia" type="text" matInput placeholder="Provincia"
                            autocomplete="off" disabled>
                    </mat-form-field>
                    <form #frmCanton="ngForm" [formGroup]="formCanton" (ngSubmit)="_validarFormulario()">
                        <mat-form-field class="gpm-form-field">
                            <input type="text" matInput [formControl]="formCanton_codigo"
                                placeholder="Código del Canton" required autocomplete="off">
                        </mat-form-field>
                        <mat-form-field class="gpm-form-field">
                            <input type="text" matInput [formControl]="formCanton_nombre" placeholder="Nombre" required
                                autocomplete="off">
                        </mat-form-field>
                        <mat-form-field class="gpm-form-field">
                            <input type="text" matInput [formControl]="formCanton_descripcion" placeholder="Descripción"
                                autocomplete="off">
                        </mat-form-field>
                        <button *ngIf="_btnAccion=='Guardar'" mat-button class="btn btn-primary btn-block"
                            [disabled]="formCanton.invalid">
                            <i class="fa fa-plus"></i>
                        </button>
                        <div class="form-group" *ngIf="_btnAccion==='Modificar'">
                            <div class="row">
                                <div class="col-6">
                                    <button type="submit" [disabled]="formCanton.invalid"
                                        class="form-control btn-success">{{_btnAccion}}
                                    </button>
                                </div>
                                <div class="col-6">
                                    <button type="button" class="form-control btn-secondary"
                                        (click)="_limpiarForm()">Refrescar <i class="fa fa-refresh"
                                            aria-hidden="true"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </mat-card>
                <br>
            </div>
            <div class="col-lg-8 col-md-7">
                <div class="tablaCantones mat-elevation-z5">
                    <br>
                    <div class="col-12">
                        <mat-form-field class="gpm-input">
                            <input matInput (keyup)="applyFilter($event)" placeholder="Buscar cantón..."
                                autocomplete="off">
                        </mat-form-field>
                    </div>
                    <table mat-table [dataSource]="dataSource"  matSort>
                        <ng-container matColumnDef="codigo">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Código </th>
                            <td mat-cell *matCellDef="let element"> {{element.CodigoCanton}} </td>
                        </ng-container>
                        <ng-container matColumnDef="canton">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Cantón </th>
                            <td mat-cell *matCellDef="let element"> {{element.NombreCanton}} </td>
                        </ng-container>
                        <ng-container matColumnDef="provincia">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Provincia </th>
                            <td mat-cell *matCellDef="let element"> {{element.Provincia.NombreProvincia}} </td>
                        </ng-container>
                        <ng-container matColumnDef="acciones">
                            <th colspan="2" mat-header-cell *matHeaderCellDef> Acciones </th>
                            <ng-container *matCellDef="let element">
                                <ng-container>
                                    <td mat-cell>
                                        <button tooltip="Asignar Representante" placement="top"
                                            class="btn btn-sm btn-outline-warning"
                                            value="{{element.IdCantonEncriptado}}" (click)=_verRepresentante(element)>
                                            <i class="fa fa-user-o" aria-hidden="true"></i>
                                        </button>
                                    </td>
                                    <td mat-cell>
                                        <button tooltip="Modificar" placement="top" class="btn btn-sm btn-outline-info"
                                            value="{{element.IdCantonEncriptado}}" (click)=_prepararCanton(element)>
                                            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                        </button>
                                    </td>
                                    <td mat-cell>
                                        <button *ngIf="element.Utilizado==0" class="btn btn-sm btn-outline-danger"
                                            value="{{element.IdCantonEncriptado}}" (click)=_eliminarCanton(element)>
                                            <i class="fa fa-remove" aria-hidden="true"></i>
                                        </button>
                                    </td>
                                </ng-container>
                            </ng-container>
                        </ng-container>
                        <tr mat-header-row *matHeaderRowDef="tablaCantones; sticky: true"></tr>
                        <tr mat-row *matRowDef="let row; columns: tablaCantones;"></tr>
                    </table>
                    <mat-paginator [pageSizeOptions]="[3]" showFirstLastButtons></mat-paginator>
                </div>
            </div>
        </div>
    </mat-card>
</div>