<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
<br>
<mat-card class="container col-lg-12 col-md-12 mr-auto">
  <div class="row">
  
    <div style="text-align: -webkit-center;padding-top: 10px;" class="col-md-3">
      <a routerLink="/inicio/reportes/cuestionarios" class="card human-resources">
        <div class="overlay"></div>
        <div class="circle">
          <img width="auto" height="131px" src="../../../assets/img/panel/llenar.png" alt="" />
        </div>
        <p>Reporte Cuestionarios</p>
        
      </a>
    </div>
  </div>
</mat-card>

