.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.amucomt{
  margin-top: 1rem;
}

.matItemHover:hover{
  background-color: white;
  color: #000;
}

.matItemHover:hover{
  background-color: #adb5bd;
  color: #000;
}

.matItemHover > a {
  color: white;
}


