<mat-sidenav-container class="sidenav-container bg-white">
  <mat-sidenav #drawer class="sidenav bg-dark" fixedTopGap
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false">
    <mat-toolbar class="text-white bg-primary"><i class="fa fa-home"> MENU</i>
    </mat-toolbar>
    <mat-nav-list>
      <div class="matItemHover">
        <a mat-list-item routerLink="/inicio/inicio">
          <i style="margin-right: 10px;" class="fa fa-file-text-o" aria-hidden="true"></i>
          Inicio
        </a>
      </div>
      <div class="matItemHover" *ngIf="tipoUsurio=='MQA='">
        <a mat-list-item routerLink="/inicio/personas">
          <i style="margin-right: 10px;" class="fa fa-users" aria-hidden="true"></i>
          Personas
        </a>
      </div>
      <div class="matItemHover" *ngIf="tipoUsurio=='MQA='">
        <a mat-list-item routerLink="/inicio/usuarios">
          <i style="margin-right: 10px;" class="fa fa-id-card-o" aria-hidden="true"></i>Usuarios
        </a>
      </div>
      <div class="matItemHover" *ngIf="tipoUsurio=='MQA='">
        <a mat-list-item routerLink="/inicio/panel-administracion">
          <i style="margin-right: 10px;" class="fa fa-cogs" aria-hidden="true"></i>
          Administración
        </a>
      </div>
      <div class="matItemHover" *ngIf="tipoUsurio=='MQA='">
        <a mat-list-item routerLink="/inicio/periodo">
          <i style="margin-right: 10px;" class="fa fa-calendar" aria-hidden="true"></i>
          Periodo
        </a>
      </div>
      <div class="matItemHover">
        <a mat-list-item routerLink="/inicio/cuestionario-generico">
          <i style="margin-right: 10px;" class="fa fa-folder-open-o" aria-hidden="true"></i>
          Cuestionario Genérico
        </a>
      </div>
      <div class="matItemHover">
        <a mat-list-item routerLink="/inicio/estructura-cuestionario-generico">
          <i style="margin-right: 10px;" class="fa fa-check-square-o" aria-hidden="true"></i>
          Estructura Cuestionario
        </a>
      </div>
      <div class="matItemHover">
        <a mat-list-item routerLink="/inicio/tree-view">
          <i style="margin-right: 10px;" class="fa fa-list-ul" aria-hidden="true"></i>
          Vista Previa del Cuestionario
        </a>
      </div>
      <div class="matItemHover">
        <a mat-list-item routerLink="/inicio/cuestionario-generico-versiones">
          <i style="margin-right: 10px;" class="fa fa-exchange" aria-hidden="true"></i>
          Versionar Cuestionario
        </a>
      </div>
      <div class="matItemHover" *ngIf="tipoUsurio=='MQA='">
        <a mat-list-item routerLink="/inicio/cuestionario-generico-publicar">
          <i style="margin-right: 10px;" class="fa fa-upload" aria-hidden="true"></i>
          Publicar Cuestionarios
        </a>
      </div>

      <div class="matItemHover">
        <a mat-list-item routerLink="/inicio/preguntas-seleccionadas" *ngIf="tipoUsurio=='MQA='">
          <i style="margin-right: 10px;" class="fa fa-file-excel-o" aria-hidden="true"></i>
          Preguntas seleccionadas
        </a>
      </div>
      <div class="matItemHover">
        <a mat-list-item routerLink="/inicio/cuestionario-lista-caracterizacion" *ngIf="tipoUsurio=='MQA='">
          <i style="margin-right: 10px;" class="fa fa-file" aria-hidden="true"></i>
          Caracterización
        </a>
      </div>
      <div class="matItemHover">
        <a mat-list-item routerLink="/inicio/reportes" *ngIf="tipoUsurio=='MQA='">
          <i style="margin-right: 10px;" class="fa fa-bar-chart" aria-hidden="true"></i>
          Reporte
        </a>
      </div>
      <div class="matItemHover">
        <a mat-list-item (click)="CerrarSesion()" >
          <i style="margin-right: 10px;" class="fa fa-sign-out" aria-hidden="true"></i>
          Cerrar Sesión
        </a>
      </div>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar class="card-header" style="border-bottom: 2px solid #e92631; background-color: #157a44;">
      <a (click)="drawer.toggle()" *ngIf="isHandset$ | async">
        <i class="fa fa-bars"></i>
      </a>
    </mat-toolbar>
   
 
    <router-outlet></router-outlet>
   
  </mat-sidenav-content>
</mat-sidenav-container>
