<br>
<div class="container">
  <div class="row left col-lg-5 col-md-5 mr-auto">
    <a routerLink="/inicio/cuestionario-lista-caracterizacion" class="btn1">Menú Principal <span class="arrow">❯</span></a>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-lg-5 col-md-5 mr-auto ">
      <mat-card class="mat-elevation-z7">
        <div class="row">
          <div class="col-12">
            <h5 style="text-align: center;">Publicar Caracterización</h5>
          </div>
        </div>
        <mat-accordion>
          <mat-expansion-panel expanded>
            <mat-expansion-panel-header>
              <mat-panel-title>CARACTERIZACIÓN</mat-panel-title>
            </mat-expansion-panel-header>
            <form class="col-lg-12 col-md-12 mr-auto">
              <mat-form-field style="borde:red !important" class="gpm-universal-width">
                <input type="text" placeholder="Seleccione una opción" aria-label="Number" matInput [formControl]="myControl" [matAutocomplete]="auto">
                <mat-spinner *ngIf="autoComplete" diameter="20" matSuffix></mat-spinner>
                <mat-autocomplete [displayWith]="displayFn.bind(this)" autoActiveFirstOption #auto="matAutocomplete">
                  <mat-option *ngFor="let option of filteredOptions | async" value="{{option.IdModeloGenericoEncriptado}}">
                    {{option.Nombre}}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
            </form>
            <div class="col-lg-12 col-md-12 mr-auto">
              <mat-form-field style="borde:red !important;" class="gpm-universal-width">
                <mat-label>Versiones</mat-label>
                <mat-spinner *ngIf="loadingVersiones" diameter="20" matSuffix></mat-spinner>
                <mat-select [(ngModel)]="cmbVersion">
                  <mat-option [disabled]="true" value="0"> -- seleccione una opción --</mat-option>
                  <mat-option *ngFor="let item of _listaVersiones" [value]="item.IdCabeceraVersionModeloEncriptado">
                    {{item.Version}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <mat-error *ngIf="cmbVersion == '0' || cmbVersion==''">
                Este dato es <strong>obligatorio</strong>
              </mat-error>
            </div>
          </mat-expansion-panel>
        </mat-accordion>
        <br>
        <mat-accordion>
          <mat-expansion-panel expanded>
            <mat-expansion-panel-header (click)="_onExpandPanelPeriodo()">
              <mat-panel-title>PERIODO</mat-panel-title>
            </mat-expansion-panel-header>
            <div class="col-lg-12 col-md-12 mr-auto">
              <mat-form-field class="gpm-form-field ">
                <mat-label>Periodo</mat-label>
                <mat-spinner *ngIf="sniperPeriodo" diameter="20" matSuffix></mat-spinner>
                <mat-select [(ngModel)]="cmbPeriodo">
                  <mat-option [disabled]="true" value="0"> -- seleccione una opción --</mat-option>
                  <mat-option *ngFor="let item of _listaPeriodos" [value]="item.IdPeriodoEncriptado">
                    {{item.Descripcion}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <mat-error *ngIf="cmbPeriodo == '0' ">
                Este dato es <strong>obligatorio</strong>
              </mat-error>
            </div>
          </mat-expansion-panel>
        </mat-accordion>
        <br>
        <button (click)="_validarForm()" mat-button type="submit" class="btn btn-primary btn-block">
          <i class="fa fa-plus"></i>
        </button>
      </mat-card>
    </div>
    <div class="col-lg-7 col-md-7 mr-auto ">
      <mat-card class="mat-elevation-z7 table-responsive">
        <mat-card-header class="col-12">
          <mat-card-title>CARACTERIZACIONES PUBLICADAS</mat-card-title>
        </mat-card-header>
        <div class="col-12">
          <mat-form-field class="gpm-input">
            <input matInput (keyup)="applyFilter($event)" placeholder="Filtro">
            <mat-icon mat-icon-button matSuffix>search</mat-icon>
          </mat-form-field>
        </div>
        <div class="example-table-container">
          <div *ngIf="CargandoTablaModeloPublicadosVerisonados" class="example-loading-shade">
            <mat-spinner matSuffix></mat-spinner>
          </div>
          <table class="col-12" mat-table [dataSource]="_listaVersionesPublicadas">
            <ng-container matColumnDef="periodo">
              <th mat-header-cell *matHeaderCellDef> ESTADO </th>
              <td mat-cell *matCellDef="let element">
                <i matTooltip="Activo" hide-delay="1" *ngIf="element.Estado" style="color:green" class="fa fa-circle" aria-hidden="true"></i>
                <i matTooltip="Inactivo" hide-delay="1" *ngIf="!element.Estado" style="color:red" class="fa fa-circle" aria-hidden="true"></i>
              </td>
            </ng-container>
            <ng-container matColumnDef="modeloGenerico">
              <th style="width:350px;word-wrap: break-word" mat-header-cell *matHeaderCellDef> CARACTERIZACIÓN </th>
              <td mat-cell *matCellDef="let element" matTooltip="{{element.Periodo.Descripcion}}" hide-delay="1">
                <div style="width:350px;word-wrap: break-word">
                  {{ element.CabeceraVersionModelo.ModeloGenerico.Nombre }}
                </div>
              </td>
            </ng-container>
            <ng-container matColumnDef="version">
              <th style="width:50px;word-wrap: break-word" mat-header-cell *matHeaderCellDef> VERSIÓN </th>
              <td mat-cell *matCellDef="let element">
                <div style="text-align:center;width:50px;word-wrap: break-word">
                  {{element.CabeceraVersionModelo.Version}}
                </div>
              </td>
            </ng-container>
            <ng-container matColumnDef="acciones">
              <th style="width:100px;word-wrap: break-word" mat-header-cell *matHeaderCellDef> ACCIONES </th>
              <td mat-cell *matCellDef="let element">
                <div style="width:100px;word-wrap: break-word">
                  <button style="margin-right: 4px;" matTooltip="Ver Información" hide-delay="1" placement="top" class="btn btn-sm btn-outline-primary separacion-botones" (click)="_prepararModeloGenericoPublicado(element)">
                    <i class="fa fa-eye" aria-hidden="true"></i>
                  </button>
                  <button style="margin-right: 4px;" *ngIf="element.Utilizado==0" matTooltip="Eliminar" hide-delay="1" placement="top" class="btn btn-sm btn-outline-danger separacion-botones" (click)="_eliminarPublicacionVersionModelo(element)">
                    <i class="fa fa-remove" aria-hidden="true"></i>
                  </button>
                  <button style="margin-right: 4px;" *ngIf="element.CantidadAsignarParroquiaActivos == 0 && element.Estado == true" matTooltip="DesHabilitar" hide-delay="1" placement="top" class="btn btn-sm btn-outline-warning separacion-botones"
                    (click)="_DesHabilitarModeloPublicado(element)">
                    <i class="fa fa-minus-square" aria-hidden="true"></i>
                  </button>
                  <button style="margin-right: 4px;" *ngIf="!element.Estado" matTooltip="Habilitar" hide-delay="1" placement="top" class="btn btn-sm btn-sm btn-outline-info separacion-botones" (click)="_HabilitarModeloPublicado(element)">
                    <i class="fa fa-check-square" aria-hidden="true"></i>
                  </button>
                </div>
              </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="['periodo','modeloGenerico','version','acciones']"></tr>
            <tr mat-row *matRowDef="let row; columns: ['periodo','modeloGenerico','version','acciones'];"></tr>
          </table>
          <mat-paginator #paginator [pageSizeOptions]="[5]" showFirstLastButtons></mat-paginator>
        </div>
      </mat-card>
    </div>
  </div>
</div>
<br>
