<br>
<div *ngIf="cargandoPantallaPrincipal" id="coverScreen" class="LockOn">
</div>
<div class="container">
  <div class="row left col-lg-5 col-md-5 mr-auto">
    <a routerLink="/inicio/cuestionario-lista-caracterizacion" class="btn1">Menú Principal <span class="arrow">❯</span></a>
  </div>
</div>
<mat-tab-group #tag (selectedTabChange)="caracterizacionTab($event)">
  <mat-tab label="CARACTERIZACIÓN">
    <div class="container">
      <br>
      <div class="row">
        <div style="margin-top: 15px;" class="col-lg-4 col-md-4 mr-auto">
          <mat-accordion class="example-headers-align" multi>
            <mat-expansion-panel expanded>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Nueva Caracterización
                </mat-panel-title>
                <mat-panel-description>
                  <mat-icon>add_to_photos</mat-icon>
                </mat-panel-description>
              </mat-expansion-panel-header>
              <br>
              <form [formGroup]="formCaracterizacion" (ngSubmit)="validarForm()">
                <div class="row">
                  <mat-form-field class="col-12" appearance="outline">
                    <mat-label>Ingrese Nombre</mat-label>
                    <input name="nombre" [formControl]="formCaracterizacion_Nombre" matInput>
                  </mat-form-field>
                </div>
                <div class="row">
                  <mat-form-field appearance="outline" class="col-12">
                    <mat-label>Descripción</mat-label>
                    <textarea style="resize: none;" rows="5" matInput name="Descripcion" [formControl]="formCaracterizacion_Descripcion"></textarea>
                  </mat-form-field>
                </div>
                <div *ngIf="GuardarCaracterizacion" class="row" class="col-lg-10 col-md-12">
                  <button matTooltip="GUARDAR" [disabled]="formCaracterizacion.invalid" mat-button class="btn btn-primary btn-block">
                    <i class="fa fa-floppy-o" aria-hidden="true"></i>
                  </button>
                </div>
                <div *ngIf="!GuardarCaracterizacion" class="row">
                  <div class="col-6">
                    <button matTooltip="MODIFICAR" [disabled]="formCaracterizacion.invalid" mat-button class="btn btn-primary btn-block">
                      <i class="fa fa-edit"></i>
                    </button>
                  </div>
                  <div class="col-6">
                    <button matTooltip="CANCELAR" type="button" (click)="_CancelarModificarModeloGenerico()" mat-button class="btn btn-block">
                      <mat-icon>cancel</mat-icon>
                    </button>
                  </div>
                </div>
              </form>
            </mat-expansion-panel>
          </mat-accordion>
        </div>
        <div style="margin-top: 15px;" class="col-lg-8 col-md-8 mr-auto ">
          <mat-card class="mat-elevation-z7 table-responsive">
            <mat-card-header>
              <mat-card-title>LISTA DE CARACTERIZACIONES</mat-card-title>
            </mat-card-header>
            <div class="col-12">
              <mat-form-field class="gpm-input">
                <input name="filtrarModeloGenerico" matInput (keyup)="applyFilter($event)" placeholder="Buscar" #input>
                <mat-icon mat-icon-button matSuffix>search</mat-icon>
              </mat-form-field>
            </div>
            <div class="example-table-container">
              <div *ngIf="tablaComponentesDeCuestionario" class="example-loading-shade">
                <mat-spinner matSuffix></mat-spinner>
              </div>
              <table class="col-12" mat-table [dataSource]="_listaModeloGenerico">
                <ng-container matColumnDef="No">
                  <th mat-header-cell *matHeaderCellDef> No. </th>
                  <td mat-cell *matCellDef="let element;index as i;"> {{i+1}} </td>
                </ng-container>
                <ng-container matColumnDef="NOMBRE">
                  <th style="width:360px;word-wrap: break-word" mat-header-cell *matHeaderCellDef> NOMBRE </th>
                  <td mat-cell *matCellDef="let element">
                    <div style="width:360px;word-wrap: break-word">
                      {{element.Nombre}}
                    </div>
                  </td>
                </ng-container>
                <ng-container matColumnDef="ACCIONES">
                  <th colspan="3" mat-header-cell *matHeaderCellDef>
                    ACCIONES
                  </th>
                  <ng-container *matCellDef="let element">
                    <ng-container *ngIf="element.ModeloGenericoVersionadoUtilizado == '0' ">
                      <td mat-cell>
                        <button matTooltip="MODIFICAR" mat-icon-button color="accent" aria-label="Example icon button with a heart icon" (click)="set_DatosParaModificar(element)">
                          <mat-icon style="color: #f0ad4e;">create</mat-icon>
                        </button>
                      </td>
                      <td mat-cell>
                        <button (click)="consultarModeloGenerico(element)" matTooltip="CONFIGURAR" mat-icon-button color="accent" aria-label="Example icon button with a heart icon">
                          <mat-icon style="color: #157a44;">launch</mat-icon>
                        </button>
                      </td>
                      <td mat-cell>
                        <button matTooltip="ELIMINAR" mat-icon-button color="warn" aria-label="Example icon button with a heart icon" (click)="_eliminarModeloGenerico(element)">
                          <mat-icon>delete_forever</mat-icon>
                        </button>
                      </td>
                    </ng-container>
                    <ng-container *ngIf="element.ModeloGenericoVersionadoUtilizado != '0' ">
                      <td mat-cell>
                        <button matTooltip="MODIFICAR" mat-button mat-icon-button color="accent" aria-label="Example icon button with a heart icon" (click)="set_DatosParaModificar(element)">
                          <mat-icon style="color: #f0ad4e;">create</mat-icon>
                        </button>
                      </td>
                      <td mat-cell>
                        <button (click)="consultarModeloGenerico(element)" matTooltip="CONFIGURAR" mat-icon-button color="accent" aria-label="Example icon button with a heart icon">
                          <mat-icon style="color: #157a44;">launch</mat-icon>
                        </button>
                      </td>
                      <td mat-cell>
                      </td>
                    </ng-container>
                  </ng-container>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="tablaModelosGenericos; "></tr>
                <tr mat-row *matRowDef="let row; columns: tablaModelosGenericos;"></tr>
              </table>
              <mat-paginator #paginator [pageSizeOptions]="[5]" showFirstLastButtons></mat-paginator>
            </div>
          </mat-card>
        </div>
      </div>
    </div>
    <br>
  </mat-tab>
  <mat-tab *ngIf="boolComponente" label="{{_NombreCaracterizacion}}">
    <br>
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-4 mr-auto">
          <mat-card class="mat-elevation-z7">
            <fieldset class="border p-2">
              <legend class="w-auto">INFORMACIÓN</legend>
              <div class="row">
                <div class="col-12">
                  <mat-form-field class="example-full-width TextArea">
                    <mat-label>Caracterización</mat-label>
                    <textarea class="areaTexto" readonly rows="3" cols="20" matInput [(ngModel)]="_NombreCaracterizacion"> </textarea>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <mat-form-field class="example-full-width TextArea">
                    <mat-label>Descripción</mat-label>
                    <textarea class="areaTexto" readonly rows="4" cols="20" matInput [(ngModel)]="_DescripcionCaracterizacion"></textarea>
                  </mat-form-field>
                </div>
              </div>
            </fieldset>
            <fieldset class="border p-2">
              <legend style="font-size: 20px" class="w-auto">CUESTIONARIO {{_VersionCuestionario}}</legend>
              <div align="center" *ngIf="snniperCargaCaracterizacion">
                <img align="middle" style="z-index:2;" width="30%" height="20%" src="../../../assets/img/panel/loading-gif-transparent-4.gif" alt="" />
              </div>
              <div *ngIf="!snniperCargaCaracterizacion" class="row" style="display: block !important;margin-left: 0px !important;margin-right: 0px !important;">
                <!-- <mat-form-field class="example-full-width TextArea">
                  <input [(ngModel)]="_NombreCuestionario" readonly matInput type="text" name="Cuestionario" placeholder="Cuestionario" />
                  <button matTooltip="Seleccionar Cuestionario" *ngIf="!_ConCuestionario" mat-button matSuffix mat-icon-button type="button" (click)="asignarCuestionario(1)">
                    <mat-icon style="color: #f0ad4e;">person_add</mat-icon>
                  </button>
                </mat-form-field> -->
                <mat-form-field class="example-full-width TextArea">
                  <mat-label>Cuestionario</mat-label>
                  <textarea class="areaTexto" rows="3" cols="20" name="Cuestionario" [(ngModel)]="_NombreCuestionario" readonly matInput> </textarea>
                  <button matTooltip="Seleccionar Cuestionario" *ngIf="!_ConCuestionario" mat-button matSuffix mat-icon-button type="button" (click)="asignarCuestionario(1)">
                    <mat-icon style="color: #f0ad4e;">person_add</mat-icon>
                  </button>
                </mat-form-field>
              </div>
            </fieldset>
          </mat-card>
        </div>
        <div class="col-lg-8 col-md-8 mr-auto">
          <mat-card style="height: 100% !important;" class="mat-elevation-z7">
            <mat-card-header style="background-color: whitesmoke !important;">
              <mat-card-title>COMPONENTES</mat-card-title>
            </mat-card-header>
            <div class="row">
              <div class="col-lg-6 col-md-6 mr-auto">
                <fieldset class="border p-2">
                  <legend class="w-auto">Caracterización</legend>
                  <div #scrollEl cdk-scrollable style="height:260px; overflow-y:scroll">
                    <div id="0" cdkDropList #todoList="cdkDropList" [cdkDropListData]="_listaComponenteCaracterizacion" [cdkDropListConnectedTo]="[doneList]" class="example-list" (cdkDropListDropped)="drop($event)">
                      <div style="padding-top: 10px !important;padding-bottom: 10px !important;" class="example-box" *ngFor="let item of _listaComponenteCaracterizacion" cdkDrag
                        [ngStyle]="item.Utilizado == '1' ?{'background-color': '#e2e2e2'} : {'background-color': 'white'}">
                        {{item.Componente.Descripcion}}
                        <button matTooltip="Seleccionar Cuestionario" mat-button matSuffix mat-icon-button type="button" (click)="asignarCuestionario(2,item)">
                          <span style="color: #f0ad4e;" class="material-icons">note_add</span>
                        </button>
                      </div>
                      <div align="center" *ngIf="snniperCargaCaracterizacion">
                        <img align="middle" style="z-index:2;" width="30%" height="20%" src="../../../assets/img/panel/loading-gif-transparent-4.gif" alt="" />
                      </div>
                    </div>
                  </div>
                </fieldset>
              </div>
              <div class="col-lg-6 col-md-6 mr-auto">
                <fieldset class="border p-2">
                  <legend class="w-auto">Cuestionario</legend>
                  <div #scrollEl cdk-scrollable style="height:260px; overflow-y:scroll">
                    <div id="1" cdkDropList #doneList="cdkDropList" [cdkDropListData]="_listaSeccionesComponenteCuestionarioGenerico" [cdkDropListConnectedTo]="[todoList]" class="example-list" (cdkDropListDropped)="drop($event)">
                      <div style="padding-top: 10px !important;padding-bottom: 10px !important;" class="example-box" *ngFor="let item of _listaSeccionesComponenteCuestionarioGenerico" cdkDrag>
                        {{item.Descripcion}}
                      </div>
                      <div align="center" *ngIf="sniperComponenteCuestionario">
                        <img align="middle" style="z-index:2;" width="30%" height="20%" src="../../../assets/img/panel/loading-gif-transparent-4.gif" alt="" />
                      </div>
                    </div>
                  </div>
                </fieldset>
              </div>
            </div>
          </mat-card>
        </div>
      </div>
    </div>
    <br>
  </mat-tab>
</mat-tab-group>
