
<style>
</style>
<br>
<div class="container page-container animated fadeInDown">
    <div class="row justify-content-center">
        
        <div class="col-md-6 col-xs-12 col-lg-4 col-sm-12">

            <form *ngIf="_verFormularioLogin==true" #frmLogin = "ngForm" (ngSubmit)="_onSubmitForm()">
                <mat-card class="example-card">
                    <mat-card-header>
                      <div mat-card-avatar class="example-header-image"></div>
                    
                    </mat-card-header>
                    <img src="../../../assets/img/logo.png" alt="Photo of a Shiba Inu">
                    <br>
                    <br>
                    <p *ngIf="_validarCorreo==true">
                        <mat-form-field style="width: 100%;" appearance="outline">
                          <mat-label >Correo</mat-label>
                          <input type="email" matInput placeholder="example@example.com" autocomplete="off" [(ngModel)]="_correo" name="_name">
                         
                        </mat-form-field>
                    </p>
                    <p *ngIf="_login==true">
                        <mat-form-field style="width: 100%;" appearance="outline">
                          <mat-label>{{ _correoUsuario }}</mat-label>
                          <input type="password" matInput  [(ngModel)]="_clave" name="_clave">
                         
                        </mat-form-field>
                    </p>
    
                    <mat-card-actions>
                      <button class="btn-primary" mat-button style="width: 100%;">Ingresar</button>
                     
                    </mat-card-actions>
                </mat-card>
            </form >

            <form [formGroup]="formMisRoles" (ngSubmit)="_ingresarAlSistema()" *ngIf="_verFormularioMisTiposUsuarios==true" #frmTiposUsuarios="ngForm" action="">
                <mat-card>
                   
                    <img src="../../../assets/img/logo.png" alt="Photo of a Shiba Inu">
                    <br>
                    <br>
                    <mat-form-field style="width: 100%;">
                        <mat-label>Seleccione el Rol</mat-label>
                        <mat-select formControlName="_cmbTiposUsuarios" (selectionChange)="_onChangeAsignarUsuarioTipoUsuario($event)">
                          <mat-option required *ngFor="let item of _misTiposUsuarios" value="{{item.TipoUsuario.IdTipoUsuarioEncriptado}}">
                            {{item.TipoUsuario.Descripcion}}
                          </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-card-actions>
                        <button type="submit" class="btn-primary" mat-button style="width: 100%;"  invalid="frmTiposUsuarios.invalid">Ingresar</button>
                    </mat-card-actions>
                </mat-card>   
            </form>
        </div>
    </div>
</div>


