<!-- <p>cuestionario-generico-publicar works!</p> -->
<br>
<div class="container">
    <div class="row">
        <div class="col-lg-5 col-md-5 mr-auto">
            <form [formGroup]="formCuestionarioGenericoPublicar" (ngSubmit)="_validarForm()">
                <mat-card class="mat-elevation-z7">
                    <div class="row">
                        <div class="col-12"> <h2 style="text-align: center;">Publicar Cuestionario Versionado</h2>  </div>
                    </div>
                    <mat-accordion>

                        <mat-expansion-panel expanded>
                            <mat-expansion-panel-header (click)="_onExpandPanelCuestionario()" >
                                <mat-panel-title>CUESTIONARIO</mat-panel-title>
                            </mat-expansion-panel-header>

                            <mat-form-field class="gpm-form-field ">
                                <mat-label>Cuestionario</mat-label>
                                <mat-select [formControl]="formCuestionarioGenericoPublicar_cmbCuestionario"
                                    (selectionChange)="_onChangeCmbCuestionariosGenericos($event)">
                                    <mat-option value="0"> -- seleccione una opción --</mat-option>
                                    <mat-option *ngFor="let item of _listaCuestionariosGenericos"
                                        [value]="item.CuestionarioGenerico.IdCuestionarioGenericoEncriptado">
                                        {{item.CuestionarioGenerico.Nombre}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                            <mat-form-field class="gpm-form-field ">
                                <mat-label>Versiones</mat-label>
                                <mat-select [formControl]="formCuestionarioGenericoPublicar_cmbCabeceraVersionCuestionario"
                                    > <!--(selectionChange)="_onChangeCmbCuestionariosGenericos($event)"-->
                                    <mat-option value="0"> -- seleccione una opción --</mat-option>
                                    <mat-option *ngFor="let item of _listaVersionesCuestionario"
                                        [value]="item.IdCabeceraVersionCuestionarioEncriptado">
                                        version : {{item.Version}}  , {{item.FechaCreacion | date: 'yyyy-MM-dd'}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>

                        </mat-expansion-panel>

                        <mat-expansion-panel>
                            <mat-expansion-panel-header (click)="_onExpandPanelPeriodo()" >
                                <mat-panel-title>PERIODO</mat-panel-title>
                            </mat-expansion-panel-header>
                            
                            <mat-form-field class="gpm-form-field ">
                                <mat-label>Periodo</mat-label>
                                <mat-select [formControl]="formCuestionarioGenericoPublicar_cmbPeriodo"
                                    > <!--(selectionChange)="_onChangeCmbCuestionariosGenericos($event)"-->
                                    <mat-option value="0"> -- seleccione una opción --</mat-option>
                                    <mat-option *ngFor="let item of _listaPeriodos"
                                        [value]="item.IdPeriodoEncriptado">
                                        {{item.Descripcion}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>

                        </mat-expansion-panel>

                    </mat-accordion>
                    <br>
                    
                      
                    <button [disabled]="formCuestionarioGenericoPublicar.invalid" mat-button type="submit" class="btn btn-primary btn-block">
                        <i class="fa fa-plus"></i>
                        <!-- <i class="fa fa-edit"></i> -->
                    </button>
                </mat-card>
            </form>
        </div>
        <div class="col-lg-7 col-md-7 mr-auto">
            <div style="height: 100% !important;" class="tablaCuestionarios mat-elevation-z7">
                <br>
                <div class="col-12">
                    <mat-form-field class="gpm-input">
                        <input matInput (keyup)="applyFilter($event)" placeholder="Buscar..."
                            autocomplete="off">
                    </mat-form-field>
                </div>
                

                <table mat-table [dataSource]="dataSource" matSort>
                    <ng-container matColumnDef="periodo">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> PERIODO </th>
                        <td mat-cell *matCellDef="let element"> {{ element.Periodo.Descripcion }} </td>
                    </ng-container>
                    <ng-container matColumnDef="fecha_publicacion">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> FECHA DE PUBLICACIÓN </th>
                        <td mat-cell *matCellDef="let element"> {{ element.FechaPublicacion | date: 'yyyy-MM-dd' }} 
                            </td>
                    </ng-container>
                    <ng-container matColumnDef="cuestionario">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> CUESTIONARIO </th>
                        <td mat-cell *matCellDef="let element"> {{ element.CabeceraVersionCuestionario.AsignarResponsable.CuestionarioGenerico.Nombre }} </td>
                    </ng-container>
                    <ng-container matColumnDef="cuestionario_version">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> VERSIÓN </th>
                        <td mat-cell *matCellDef="let element"> {{element.CabeceraVersionCuestionario.Version}} </td>
                    </ng-container>
                    <ng-container matColumnDef="acciones">
                        <th colspan="2" mat-header-cell *matHeaderCellDef mat-sort-header> ACCIONES </th>
                        <ng-container *matCellDef="let element">
                            <ng-container >

                                <td mat-cell>
                                    <button tooltip="Deshabilitar" placement="top" *ngIf="element.Estado==true"
                                        class="btn btn-sm btn-outline-primary separacion-botones"
                                        value="{{element.IdCuestionarioPublicadoEncriptado}}" (click)="_deshabilitar_cuestionarioPublicado(element)">
                                        <i class="fa fa-power-off" aria-hidden="true"></i>
                                    </button>
                                    <button tooltip="Habilitar" placement="top" *ngIf="element.Estado==false"
                                        class="btn btn-sm btn-outline-primary separacion-botones"
                                        value="{{element.IdCuestionarioPublicadoEncriptado}}" (click)="_deshabilitar_cuestionarioPublicado(element)">
                                        <i class="fa fa-power-off" aria-hidden="true"></i>
                                    </button>
                                </td>

                                <td mat-cell>
                                    <button tooltip="Ver Información" placement="top" *ngIf="element.Estado==false"
                                        class="btn btn-sm btn-outline-primary separacion-botones" disabled
                                        value="{{element.IdCuestionarioPublicadoEncriptado}}"
                                        (click)="_prepararCuestionarioPublicado(element)">
                                        <i class="fa fa-eye" aria-hidden="true"></i>
                                    </button>
                                    <button tooltip="Ver Información" placement="top" *ngIf="element.Estado==true"
                                        class="btn btn-sm btn-outline-primary separacion-botones"
                                        value="{{element.IdCuestionarioPublicadoEncriptado}}"
                                        (click)="_prepararCuestionarioPublicado(element)">
                                        <i class="fa fa-eye" aria-hidden="true"></i>
                                    </button>
                                </td>
                                <!-- <td mat-cell>
                                    <button tooltip="Modificar" placement="top"
                                        class="btn btn-sm btn-outline-info separacion-botones"
                                        value="{{element.IdPersonaEncriptado}}"
                                        (click)="_prepararPersona(element)">
                                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                    </button>
                                </td> -->
                                <td mat-cell>
                                    <button tooltip="Eliminar" placement="top" *ngIf="element.Utilizado==0"
                                        class="btn btn-sm btn-outline-danger separacion-botones"
                                        value="{{element.IdCuestionarioPublicadoEncriptado}}" (click)="_eliminar_cuestionarioPublicado(element)">
                                        <i class="fa fa-remove" aria-hidden="true"></i>
                                    </button>
                                </td>
                            </ng-container>
                        </ng-container>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="tablaCuestionarios"></tr>
                    <tr mat-row *matRowDef="let row; columns: tablaCuestionarios;"></tr>
                </table>
                <mat-paginator [pageSizeOptions]="[8, 15, 30]" showFirstLastButtons></mat-paginator>
            </div>
        </div>
    </div>
</div>
<br>
<div class="container" *ngIf="_verAsignarEncuestado==true ">
    <mat-accordion>
        <mat-expansion-panel class="mat-elevation-z7" hideToggle>
            <mat-expansion-panel-header (click)="_onExpandPanelAsignarEncuestado()" >
                <mat-panel-title>ASIGNAR ENCUESTADO</mat-panel-title>
                <button class="btn" (click)="_ocultarPanelAsignarEncuestado()"><i class="fa fa-remove"></i></button>
            </mat-expansion-panel-header>
            <div class="row">
                <div class="col-lg-5 col-md-5 mr-auto">
                    <form [formGroup]="formAsignarEncuestado" (ngSubmit)="_validarFormAsignarEncuestado()">
                        <mat-card class="mat-elevation-z7">
                            <!-- <div class="row">
                                <div class="col-12"> <h2 style="text-align: center;">Asignar Encuestado</h2>  </div>
                            </div> -->
                            <mat-accordion>
              
                                <mat-expansion-panel expanded >
                                    <mat-expansion-panel-header >
                                        <mat-panel-title>CUESTIONARIO</mat-panel-title>
                                    </mat-expansion-panel-header>
                                    <mat-form-field class="gpm-form-field" >
                                        <input [formControl]="formAsignarEncuestado_nombreCuestionarioGenenico" matInput disabled='true' type="text" placeholder="Cuestionario" > 
                                    </mat-form-field>
                                    <mat-form-field class="gpm-form-field ">
                                        <input [formControl]="formAsignarEncuestado_versionCuestionarioGenenico" matInput disabled type="text" placeholder="Version">
                                    </mat-form-field>
                                </mat-expansion-panel>
                                <mat-expansion-panel >
                                    <mat-expansion-panel-header (click)="_onExpandPanelUbicacion()" >
                                        <mat-panel-title>UBICACIÓN</mat-panel-title>
                                    </mat-expansion-panel-header>
                                    <mat-form-field class="gpm-universal-width ">
                                        <mat-label>Provincia</mat-label>
                                        <mat-select [formControl]="formAsignarEncuestado_cmbProvincia"
                                        (selectionChange)="_cantonesDeUnaProvincia($event.value)"> 
                                            <mat-option *ngFor="let item of _listaProvincias"
                                                [value]="item.IdProvinciaEncriptado">
                                                {{item.NombreProvincia}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                    <mat-form-field class="gpm-universal-width ">
                                        <mat-label>Cantón</mat-label>
                                        <mat-select [formControl]="formAsignarEncuestado_cmbCanton"
                                            (selectionChange)="_parroquiasDeUnCanton($event.value)"> 
                                            <mat-option *ngFor="let item of _listaCantones"
                                                [value]="item.IdCantonEncriptado">
                                                {{item.NombreCanton}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                    <mat-form-field class="gpm-universal-width ">
                                        <mat-label>Parroquia</mat-label>
                                        <mat-select [formControl]="formAsignarEncuestado_cmbParroquia"
                                            (selectionChange)="_comunidadesDeUnaParroquia($event.value)">
                                            <mat-option *ngFor="let item of _listaParroquias"
                                                [value]="item.IdParroquiaEncriptado">
                                                {{item.NombreParroquia}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                    <mat-form-field class="gpm-universal-width ">
                                        <mat-label>Comunidad</mat-label>
                                        <mat-select [formControl]="formAsignarEncuestado_cmbComunidad"
                                            > 
                                            <mat-option *ngFor="let item of _listaComunidades"
                                                [value]="item.IdComunidadEncriptado">
                                                {{item.NombreComunidad}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </mat-expansion-panel>
                                <mat-expansion-panel>
                                    <mat-expansion-panel-header  (click)="_onExpandPanelTecnico()">
                                        <mat-panel-title>TÉCNICO</mat-panel-title>
                                    </mat-expansion-panel-header>
                                    <mat-form-field class="gpm-form-field ">
                                        <mat-label>Técnico</mat-label>
                                        <mat-select [formControl]="formAsignarEncuestado_cmbTecnico"
                                            (selectionChange)="_onChangeCmbCuestionariosGenericos($event)">
                                            <mat-option value="0"> -- seleccione una opción --</mat-option>
                                            <mat-option *ngFor="let item of _listaTecnicos"
                                                [value]="item.IdAsignarUsuarioTipoUsuarioEncriptado">
                                                {{item.Usuario.Persona.PrimerNombre}} {{item.Usuario.Persona.PrimerApellido}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </mat-expansion-panel>
                                <mat-expansion-panel>
                                    <mat-expansion-panel-header  >
                                        <mat-panel-title>FECHA</mat-panel-title>
                                    </mat-expansion-panel-header>
                                    
                                    <mat-form-field class="gpm-form-field ">
                                        <mat-label>Fecha de Inicio</mat-label>
                                        <input [formControl]="formAsignarEncuestado_fechaInicio" matInput type="date">
                                    </mat-form-field>
                                    <mat-form-field class="gpm-form-field ">
                                        <mat-label>Fecha de Fin</mat-label>
                                        <input [formControl]="formAsignarEncuestado_fechaFin" matInput type="date">
                                    </mat-form-field>
                                </mat-expansion-panel>
        
                            </mat-accordion>
                            <br>
                            <mat-checkbox [formControl]="formAsignarEncuestado_obligatorio">Obligatorio</mat-checkbox>
                            <br>
                            <button [disabled]="formAsignarEncuestado.invalid" mat-button class="btn btn-primary btn-block">
                                <i *ngIf="guardar"  class="fa fa-plus"> GUARDAR</i>
                                <i *ngIf="!guardar" class="fa fa-pencil-square-o" aria-hidden="true"> MODIFICAR</i>
                                <!-- <i class="fa fa-edit"></i> -->
                            </button>
                        </mat-card>
                    </form>
                </div>
                <div class="col-lg-7 col-md-7">
                    <div style="height: 100% !important;" class="mat-elevation-z7">
                        <br>
                        <div class="col-12">
                            <!-- <mat-form-field class="gpm-input">
                                <input matInput (keyup)="applyFilter($event)" placeholder="Buscar..."
                                    autocomplete="off">
                            </mat-form-field> -->
                        </div>
                        
        
                        <table mat-table [dataSource]="_listaAsignarEncuestados" matSort>
                            <ng-container matColumnDef="tecnico">
                                <th mat-header-cell *matHeaderCellDef> TÉCNICO </th>
                                <td mat-cell *matCellDef="let element"> {{ element.AsignarUsuarioTipoUsuarioTecnico.Usuario.Persona.PrimerNombre }} {{ element.AsignarUsuarioTipoUsuarioTecnico.Usuario.Persona.PrimerApellido }}</td>
                            </ng-container>
                            <ng-container matColumnDef="fecha_inicio">
                                <th mat-header-cell *matHeaderCellDef> FECHA DE INICIO </th>
                                <td mat-cell *matCellDef="let element"> {{ element.FechaInicio | date: 'yyyy-MM-dd' }} 
                                    </td>
                            </ng-container>
                            <ng-container matColumnDef="fecha_fin">
                                <th mat-header-cell *matHeaderCellDef> FECHA DE FIN </th>
                                <td mat-cell *matCellDef="let element"> {{ element.FechaFin | date: 'yyyy-MM-dd' }} 
                                    </td>
                            </ng-container>
                            <ng-container matColumnDef="comunidad">
                                <th mat-header-cell *matHeaderCellDef> COMUNIDAD </th>
                                <td mat-cell *matCellDef="let element"> {{ element.Comunidad.NombreComunidad }} </td>
                            </ng-container>
                            <ng-container matColumnDef="cuestionario">
                                <th mat-header-cell *matHeaderCellDef> CUESTIONARIO </th>
                                <td mat-cell *matCellDef="let element"> {{ element.CuestionarioPublicado.CabeceraVersionCuestionario.AsignarResponsable.CuestionarioGenerico.Nombre }} </td>
                            </ng-container>
                            <ng-container matColumnDef="cuestionario_version">
                                <th mat-header-cell *matHeaderCellDef> VERSIÓN </th>
                                <td mat-cell *matCellDef="let element"> {{element.CuestionarioPublicado.CabeceraVersionCuestionario.Version}} </td>
                            </ng-container>
                            <ng-container matColumnDef="acciones">
                                <th colspan="2" mat-header-cell *matHeaderCellDef> ACCIONES </th>
                                <ng-container *matCellDef="let element">
                                    <ng-container >
                                        <!-- <td mat-cell>
                                            <button tooltip="Ver Información" placement="top"
                                                class="btn btn-sm btn-outline-primary separacion-botones"
                                                value="{{element.IdAsignarEncuestadoEncriptado}}"
                                                (click)="_verPersona(element)">
                                                <i class="fa fa-eye" aria-hidden="true"></i>
                                            </button>
                                        </td> -->
                                        <!-- <td mat-cell>
                                            <button tooltip="Modificar" placement="top"
                                                class="btn btn-sm btn-outline-info separacion-botones"
                                                value="{{element.IdAsignarEncuestadoEncriptado}}"
                                                (click)="_prepararPersona(element)">
                                                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                            </button>
                                        </td> -->

                                        <td mat-cell>
                                            <button tooltip="Modificar" placement="top"
                                                class="btn btn-sm btn-outline-info separacion-botones"
                                                value="{{element.IdAsignarEncuestadoEncriptado}}" (click)="_prepararEncuestador(element)">
                                                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                            </button>
                                        </td>
                                        <td mat-cell>
                                            <button tooltip="Eliminar" placement="top" *ngIf="element.Utilizado==0"
                                                class="btn btn-sm btn-outline-danger separacion-botones"
                                                value="{{element.IdAsignarEncuestadoEncriptado}}" (click)="_eliminarAsignarEncuestado(element)">
                                                <i class="fa fa-remove" aria-hidden="true"></i>
                                            </button>
                                        </td>
                                    </ng-container>
                                </ng-container>
                            </ng-container>
                            <tr mat-header-row *matHeaderRowDef="ColumnsAsignarEncuestado;"></tr>
                            <tr mat-row *matRowDef="let row; columns: ColumnsAsignarEncuestado;"></tr>
                        </table>
                    </div>
                </div>
            </div>
        </mat-expansion-panel>
    </mat-accordion>
    
</div>