<br>
<div class="container">
    <div class="row">
        <div class="col-lg-5 col-md-5 mr-auto">
            <form [formGroup]="formCuestionarioGenericoPublicar" (ngSubmit)="_validarForm()">
                <mat-card class="mat-elevation-z7">
                    <div class="row">
                        <div class="col-12"> <h2 style="text-align: center;">Publicar Cuestionario Versionado</h2>  </div>
                    </div>
                    <mat-accordion>

                        <mat-expansion-panel expanded>
                            <mat-expansion-panel-header (click)="_onExpandPanelCuestionario()" >
                                <mat-panel-title>CUESTIONARIO</mat-panel-title>
                            </mat-expansion-panel-header>

                            <mat-form-field class="gpm-form-field ">
                                <mat-label>Cuestionario</mat-label>
                                <mat-select [formControl]="formCuestionarioGenericoPublicar_cmbCuestionario"
                                    (selectionChange)="_onChangeCmbCuestionariosGenericos($event)">
                                    <mat-option value="0"> -- seleccione una opción --</mat-option>
                                    <mat-option *ngFor="let item of _listaCuestionariosGenericos"
                                        [value]="item.CuestionarioGenerico.IdCuestionarioGenericoEncriptado">
                                        {{item.CuestionarioGenerico.Nombre}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                            <mat-form-field class="gpm-form-field ">
                                <mat-label>Versiones</mat-label>
                                <mat-select [formControl]="formCuestionarioGenericoPublicar_cmbCabeceraVersionCuestionario">
                                    <mat-option value="0"> -- seleccione una opción --</mat-option>
                                    <mat-option *ngFor="let item of _listaVersionesCuestionario"
                                        [value]="item.IdCabeceraVersionCuestionarioEncriptado">
                                        version : {{item.Version}}  , {{item.FechaCreacion | date: 'yyyy-MM-dd'}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>

                        </mat-expansion-panel>

                        <mat-expansion-panel>
                            <mat-expansion-panel-header (click)="_onExpandPanelPeriodo()" >
                                <mat-panel-title>PERIODO</mat-panel-title>
                            </mat-expansion-panel-header>
                            
                            <mat-form-field class="gpm-form-field ">
                                <mat-label>Periodo</mat-label>
                                <mat-select [formControl]="formCuestionarioGenericoPublicar_cmbPeriodo">
                                    <mat-option value="0"> -- seleccione una opción --</mat-option>
                                    <mat-option *ngFor="let item of _listaPeriodos"
                                        [value]="item.IdPeriodoEncriptado">
                                        {{item.Descripcion}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>

                        </mat-expansion-panel>

                    </mat-accordion>
                    <br>
                    
                      
                    <button [disabled]="formCuestionarioGenericoPublicar.invalid" mat-button type="submit" class="btn btn-primary btn-block">
                        <i class="fa fa-plus"></i>
                    </button>
                </mat-card>
            </form>
        </div>
        <div class="col-lg-7 col-md-7 mr-auto">
            <div class="Columns mat-elevation-z5 gpm-universal-heigth">
                <br>
                <div class="col-12">
                    <mat-form-field class="gpm-input">
                        <input matInput (keyup)="applyFilter($event)" placeholder="Buscar por Fecha de Publicación"
                            autocomplete="off">
                    </mat-form-field>
                </div>
                <table mat-table [dataSource]="dataSource" matSort>
                    <ng-container matColumnDef="periodo">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> PERIODO </th>
                        <td mat-cell *matCellDef="let element"> {{ element.Periodo.FechaFin | date: 'yyyy-MM-dd'}} </td>
                        <td mat-cell *matCellDef="let element"> {{ element.Periodo.Descripcion }} </td>
                    </ng-container>
                    <ng-container matColumnDef="fecha_publicacion">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> FECHA DE PUBLICACIÓN </th>
                        <td mat-cell *matCellDef="let element"> {{ element.FechaPublicacion | date: 'yyyy-MM-dd' }} 
                            </td>
                    </ng-container>
                    <ng-container matColumnDef="cuestionario">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> CUESTIONARIO </th>
                        <td mat-cell *matCellDef="let element"> {{ element.CabeceraVersionCuestionario.AsignarResponsable.CuestionarioGenerico.Nombre }} </td>
                    </ng-container>
                    <ng-container matColumnDef="cuestionario_version">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> VERSIÓN </th>
                        <td mat-cell *matCellDef="let element"> {{element.CabeceraVersionCuestionario.Version}} </td>
                    </ng-container>
                    <ng-container matColumnDef="acciones">
                        <th colspan="2" mat-header-cell *matHeaderCellDef mat-sort-header> ACCIONES </th>
                        <ng-container *matCellDef="let element">
                            <ng-container >

                                <td mat-cell>
                                    <button tooltip="Deshabilitar" placement="top" *ngIf="element.Estado==true"
                                        class="btn btn-sm btn-outline-primary separacion-botones"
                                        value="{{element.IdCuestionarioPublicadoEncriptado}}" (click)="_deshabilitar_cuestionarioPublicado(element)">
                                        <i class="fa fa-power-off" aria-hidden="true"></i>
                                    </button>
                                    <button tooltip="Habilitar" placement="top" *ngIf="element.Estado==false"
                                        class="btn btn-sm btn-outline-primary separacion-botones"
                                        value="{{element.IdCuestionarioPublicadoEncriptado}}" (click)="_deshabilitar_cuestionarioPublicado(element)">
                                        <i class="fa fa-power-off" aria-hidden="true"></i>
                                    </button>
                                </td>

                                <td mat-cell>
                                    <button style="color: red; border-color: red;" tooltip="Ver Información" placement="top" *ngIf="element.Estado==false"
                                        class="btn btn-sm btn-outline-primary separacion-botones" disabled
                                        value="{{element.IdCuestionarioPublicadoEncriptado}}"
                                        (click)="_prepararCuestionarioPublicado(element)">
                                        <i class="fa fa-eye" aria-hidden="true"></i>
                                    </button>
                                    <button tooltip="Ver Información" placement="top" *ngIf="element.Estado==true"
                                        class="btn btn-sm btn-outline-primary separacion-botones"
                                        value="{{element.IdCuestionarioPublicadoEncriptado}}"
                                         (click)="_verModalAsignarEncuestado(element)">
                                        <i class="fa fa-eye" aria-hidden="true"></i>
                                    </button>
                                </td>
                                
                                <td mat-cell>
                                    <button tooltip="Eliminar" placement="top" *ngIf="element.Utilizado==0"
                                        class="btn btn-sm btn-outline-danger separacion-botones"
                                        value="{{element.IdCuestionarioPublicadoEncriptado}}" (click)="_eliminar_cuestionarioPublicado(element)">
                                        <i class="fa fa-remove" aria-hidden="true"></i>
                                    </button>
                                </td>
                            </ng-container>
                        </ng-container>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="tablaCuestionarios"></tr>
                    <tr mat-row *matRowDef="let row; columns: tablaCuestionarios;"></tr>
                </table>
                <mat-paginator [pageSizeOptions]="[10]" showFirstLastButtons></mat-paginator>
            </div>
        </div>
    </div>
</div>
<br>