<h2 mat-dialog-title style="text-align: center;">Detalle de Persona</h2>
<mat-dialog-content>
    
    <form [formGroup]="formPersona">

    
            
            <mat-form-field class="gpm-form-field">
                <input matInput placeholder="Primer Nombre" [formControl]="formPersona_primerNombre" [disabled]="true" type="text">
            </mat-form-field>

            <mat-form-field class="gpm-universal-width">
                <input matInput placeholder="Segundo Nombre" [formControl]="formPersona_segundoNombre" disabled="true" type="text">
            </mat-form-field>

            <mat-form-field class="gpm-universal-width">
                <input matInput placeholder="Primer Apellido" [formControl]="formPersona_primerApellido" disabled="true" type="text">
            </mat-form-field>

            <mat-form-field class="gpm-universal-width">
                <input matInput placeholder="Segundo Apellido" [formControl]="formPersona_segundoApellido" disabled="true" type="text">
            </mat-form-field>
                
            <mat-form-field class="gpm-universal-width">
                <input matInput placeholder="Segundo Apellido" [formControl]="formPersona_segundoApellido" >
            </mat-form-field>

            <mat-form-field class="gpm-universal-width">
                <input matInput placeholder="Sexo" [formControl]="formPersona_cmbSexo" >
            </mat-form-field>

            <mat-form-field class="gpm-universal-width">
                <input matInput placeholder="Telefono" [formControl]="formPersona_telefono" >
            </mat-form-field>

            <mat-accordion>
                <mat-expansion-panel>
                    <mat-expansion-panel-header >
                        <mat-panel-title>Identificación</mat-panel-title>
                    </mat-expansion-panel-header>
                    
                    
                    <mat-form-field class="gpm-universal-width">
                        <input matInput placeholder="Tipo de Identificación" [formControl]="formPersona_cmbTipoIdentificacion" >
                    </mat-form-field>
                    <mat-form-field class="gpm-universal-width">
                        <input matInput placeholder="Número de Identificación" [formControl]="formPersona_numeroIdentificacion" >     
                    </mat-form-field>

                </mat-expansion-panel>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>Dirección</mat-panel-title>
                    </mat-expansion-panel-header>
                    

                    <mat-form-field class="gpm-universal-width">
                        <input matInput placeholder="Provincia" [formControl]="formPersona_cmbProvincia" >                       
                    </mat-form-field>
                    <mat-form-field class="gpm-universal-width">
                        <input matInput placeholder="Cantón" [formControl]="formPersona_cmbCanton" >                       
                    </mat-form-field>
                    <mat-form-field class="gpm-universal-width">
                        <input matInput placeholder="Parroquia" [formControl]="formPersona_cmbParroquia" >                       
                    </mat-form-field>

                    <mat-form-field class="gpm-universal-width">
                        <input matInput placeholder="Dirección" [formControl]="formPersona_direccion" >                       
                    </mat-form-field>
                    

                </mat-expansion-panel>
            </mat-accordion>
    </form>
</mat-dialog-content>

<mat-dialog-actions>
    <button mat-button mat-dialog-close type="button" class="btn-block btn-primary">
        Cerrar
    </button>
</mat-dialog-actions>