<!-- <p>cuestionario-generico-detalle works!</p> -->
<br>
<div class="container">
    <div class="row">
        <div class="col-lg-12 col-md-12 mr-auto ">
            <form [formGroup]="formCuestionarioGenericoDetalle" (ngSubmit)="_validarForm()">
                <mat-card>
                    <div class="row">
                        <div class="col-12"> <h2 style="text-align: center;">Versionar Cuestionario Genérico</h2>  </div>
                    </div>
                    <mat-form-field class="gpm-form-field col-lg-12">
                        <mat-label>Cuestionario</mat-label>
                        <mat-select [formControl]="formCuestionarioGenericoDetalle_cmbCuestinario"
                            (selectionChange)="_onChangeCmbCuestionariosGenericos($event)">
                            <mat-option value="0"> -- seleccione una opción --</mat-option>
                            <mat-option *ngFor="let item of _listaCuestionariosGenericos"
                                [value]="item.CuestionarioGenerico.IdCuestionarioGenericoEncriptado">
                                {{item.CuestionarioGenerico.Nombre}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field class="gpm-form-field col-lg-11">
                        <input matInput placeholder="Característica" [formControl]="formCuestionarioGenericoDetalle_caracteristica" required>
                        <!-- <mat-error *ngIf="_nombre.invalid">{{getErrorMessage()}}</mat-error> -->
                        <mat-error *ngIf="formCuestionarioGenericoDetalle_caracteristica.hasError('required') || formCuestionarioGenericoDetalle_caracteristica.invalid || (formCuestionarioGenericoDetalle_caracteristica.dirty || formCuestionarioGenericoDetalle_caracteristica.touched ) ">
                          Este dato es <strong>obligatorio</strong>
                        </mat-error>
                    </mat-form-field>
                    <button [disabled]="formCuestionarioGenericoDetalle.invalid" mat-button class="col-lg-1 btn btn-primary btn-block"> <i class="fa fa-plus"></i> </button>  
                </mat-card>
            </form>
        </div>
        
    </div>
    <br>
    <div style="margin-top: 10px !important;" class="row" *ngFor="let componente of _cargarCuestionarioGenerico.listaComponente ; let i = index">
        <div class="col-lg-12 col-md-12 mr-auto" >
            <mat-accordion  >
    
                <mat-expansion-panel expanded 
                    >
                    <mat-expansion-panel-header > <!--(click)="_consultarSeccionesDeComponentesDeCuestionario(componente.IdComponenteEncriptado)"-->
                        <mat-panel-title>
                            {{componente.Descripcion}}
                        </mat-panel-title>
                        <!-- <mat-panel-description >
                            (COMPONENTE)
                        </mat-panel-description> -->
                    </mat-expansion-panel-header>
                    
                    <mat-accordion *ngFor="let seccion of componente.listaSeccion; let a=index">
    
                        <mat-expansion-panel expanded 
                            >
                            <mat-expansion-panel-header > <!--(click)="_consultarPreguntasSeccionComponenteCuestionarioGenerico(seccion.IdSeccionEncriptado)"-->
                                <mat-panel-title>
                                    {{seccion.Descripcion}}
                                </mat-panel-title>
                                <!-- <mat-panel-description >
                                    (SECCIÓN)
                                </mat-panel-description> -->
                            </mat-expansion-panel-header>
                            
                            <mat-accordion>
    
                                <mat-expansion-panel *ngFor="let pregunta of seccion.listaPregunta; let i=index" > <!--_listaPreguntasSeccionComponenteCuestionarioGenerico-->
            
                                    <mat-expansion-panel-header (click)="_consultarOpcionesPreguntas(pregunta)">
                                        <mat-panel-title >
                                            {{pregunta.Descripcion}} 
                                        </mat-panel-title>
                                        <!-- <mat-panel-description >
                                            (PREGUNTA)
                                        </mat-panel-description> -->
                                       
                                    </mat-expansion-panel-header>
                                    <div *ngIf="pregunta.TipoPregunta.Identificador==1">
                                        <!-- <app-pregunta-abierta [item]="pregunta"></app-pregunta-abierta> -->

                                        <table #tablaOpcionesPreguntaAbierta mat-table [dataSource]="_listaOpcionesPreguntasAbiertas" class="mat-elevation-z7 gpm-table">

                                            <ng-container matColumnDef="tipo_dato">
                                                <th mat-header-cell *matHeaderCellDef> Tipo de Dato </th>
                                                <td mat-cell *matCellDef="let element"> {{element.TipoDato.Descripcion}} </td>
                                            </ng-container>
                                            <ng-container matColumnDef="minimo">
                                                <th mat-header-cell *matHeaderCellDef> Valor Mínimo </th>
                                                <td mat-cell *matCellDef="let element"> 
                                                    <div *ngIf="element.ValorMinimo!='undefined'"> {{element.ValorMinimo}} </div> 
                                                    <div *ngIf="element.ValorMinimo=='undefined'"> No Aplica </div>    
                                                </td>
                                            </ng-container>
                                            <ng-container matColumnDef="maximo">
                                                <th mat-header-cell *matHeaderCellDef> Valor Máximo </th>
                                                <td mat-cell *matCellDef="let element">  
                                                    <div *ngIf="element.ValorMaximo!='undefined'"> {{element.ValorMaximo}} </div> 
                                                    <div *ngIf="element.ValorMaximo=='undefined'"> No Aplica </div>    
                                                </td>
                                            </ng-container>
                                            <!-- Symbol Column -->
                                            <tr mat-header-row *matHeaderRowDef="ColumnsPreguntaAbierta"></tr>
                                            <tr mat-row *matRowDef="let row; columns: ColumnsPreguntaAbierta;"></tr>
                                        </table>

                                    </div>
                                    <div *ngIf="pregunta.TipoPregunta.Identificador==2 || pregunta.TipoPregunta.Identificador==3 ">
                                        <!-- <app-pregunta-seleccion [item]="pregunta"></app-pregunta-seleccion> -->
                                       
                                        <mat-accordion >
                                            <mat-expansion-panel class="mat-elevation-z7" *ngFor="let opcionPreguntaSeleccion of _listaOpcionesPreguntaSeleccion ; let i = index" >
                                                <mat-expansion-panel-header (click)="_consultarPreguntasEncajonadas(opcionPreguntaSeleccion)">
                                                    <mat-panel-title>
                                                        <!-- <mat-radio-group >  -->
                                                            <mat-radio-button  value="1"></mat-radio-button>
                                                        <!-- </mat-radio-group>  -->
                                                        {{opcionPreguntaSeleccion.Descripcion}}
                                                    </mat-panel-title>
                                                </mat-expansion-panel-header>
                                                <table #tablaPreguntasEncajonadas   mat-table [dataSource]="_listaPreguntaEncajonadas" class="mat-elevation-z7 gpm-table">

                                                    <ng-container matColumnDef="icono">
                                                    <th mat-header-cell *matHeaderCellDef> # </th>
                                                    <td mat-cell *matCellDef="let preguntaEncajonada"> 
                                                        <mat-radio-group > <!--*ngIf="item.TipoPregunta.Identificador==2"-->
                                                            <mat-radio-button  value="1"></mat-radio-button>
                                                        </mat-radio-group> <!--  -->
                                                        <!-- <mat-checkbox *ngIf="item.TipoPregunta.Identificador==3"></mat-checkbox> -->
                                                
                                                    </td>
                                                    </ng-container>
                            
                                                    <ng-container matColumnDef="descripcion">
                                                        <th mat-header-cell *matHeaderCellDef> Descripción </th>
                                                        <td mat-cell *matCellDef="let preguntaEncajonada"> {{preguntaEncajonada.Pregunta.Descripcion}} </td>
                                                    </ng-container>
                                                    <!-- Symbol Column -->
                                                    
                                                    <tr mat-header-row *matHeaderRowDef="ColumnsPreguntaEncajonada"></tr>
                                                    <tr mat-row *matRowDef="let row; columns: ColumnsPreguntaEncajonada;"></tr>
                                                </table>
                                            </mat-expansion-panel>
                                        </mat-accordion>

                                    </div>
                                    <div *ngIf="pregunta.TipoPregunta.Identificador==4">
                                        <app-pregunta-matriz [item]="pregunta"></app-pregunta-matriz>
                                    </div>
            
                                   
                                </mat-expansion-panel>
                            </mat-accordion>
        
                        </mat-expansion-panel>
                    </mat-accordion>

                </mat-expansion-panel>
            </mat-accordion>
            
        </div>
    </div>
</div>