<mat-dialog-content>
    <div class="row">
        <div class="col-12"><h2 style="text-align: center;"> ASIGNAR ROL(ES)</h2></div> 
    </div>   
   <br>
            <div class="row">

                <div class="col-md-12">
                    <div class="form-group input-container">
                        <select #testSelect  type="text" class="form-control input-field">
                            <option value="0" disabled selected>Seleccionar Tipo Usuario</option>
                            <option *ngFor="let item of _listaTiposUsuarios" 
                            value="{{item.IdTipoUsuarioEncriptado}}">
                                {{ item.Descripcion }}
                            </option>
                        </select>
                        <i (click)="_asignarTipoUsuario()" class="fa fa-plus icon ml-3" style="background-color:#E99002;cursor: pointer"></i>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="table-responsive-sm">
                        <table class="table table-sm">
                            <thead class="card-header">
                                <tr>
                                    <th scope="col">Descripcion</th>
                                    <th scope="col" style="text-align: center;">Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of _listaAsignarUsuarioTipoUsuario">
                                    <td> {{ item.TipoUsuario.Descripcion }} </td>
                                    <td>
                                        <button [disabled]="botonEliminar" class="btn btn-sm btn-outline-danger btn-block"
                                            value="{{item.IdAsignarUsuarioTipoUsuarioEncriptado}}" (click)="_eliminarTipoUsuarioDeLista(item)">
                                            <i class="fa fa-remove" aria-hidden="true"></i>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-button [mat-dialog-close]="data" type="button" class="btn btn-block btn-primary">
        Cerrar
    </button>
</mat-dialog-actions>