.example-loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 56px;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.example-table-container {
  position: relative;
  max-height: 400px;
  overflow: auto;
}
mat-card:hover,mat-expansion-panel:hover{
  border:2px solid #a5f0c8;
}
.mat-header-cell {
    font-weight: bold;
    text-align: center;
    color: #495057;
    background-color: #e9ecef;
    border-color: #dee2e6;
}
td{
    text-align: center;
}
mat-card-header{
    place-content: center;
    background-color: #e9ecef;
}
tr:hover {
    background-color: #cefbe3;
}
#page-container {
  position: relative;
  min-height: 25vh;
}

#content-wrap {
  padding-bottom: 2.5rem;    /* Footer height */
}
#footer {
  position: absolute;
  bottom: 0;
  height: 2.5rem;            /* Footer height */
}
.left {
  text-align: left;
}

.btn1 {
  display: inline-block;
  background: #e2e2e2;
  border: 0;
  line-height: 2.5em;
  padding: 0 0 0 1em;
  margin-bottom: 1em;
  outline: none;
  text-decoration: none;
  color: #666;
}
.btn1 .arrow {
  display: inline-block;
  line-height: 2.5em;
  text-align: center;
  background: #333;
  color: white;
  font-size: 1em;
  width: 2.5em;
  transition: margin 200ms;
  margin-left: 0.75em;
}
.btn1:hover {
  background: rgb(210, 249, 225);
}
.btn1:hover .arrow {
  margin-left: 1.25em;
  background-color: #262626;
}
.btn1:active {
  background: #ccc;
}
.btn1:active .arrow {
  margin-left: 1.5em;
}
