.example-container {
    height: 150px;
    overflow: auto;
  }
  
  table {
    width: 100%;
  }

  .mat-table-sticky {
    border-top: 1px solid #e0e0e0;
  }

  .texto-color{
    color: orangered;
  }